[2017-01-31 06:30] jbkoh opened #1 "Need to formalize the development process."

[2017-01-31 06:30] jbkoh opened #2 "Add Tagset definitions."

[2017-01-31 06:30] jbkoh opened #3 "Remove structures of tags."

[2017-02-21 19:43] jbkoh opened #6 "Roadmap"
TODO:

[2017-02-21 19:43] jbkoh opened #7 "Change Base URI to brickschema.org"

[2017-02-21 21:51] gtfierro commented on #6
Lets open this issue when there's something inside it

[2017-02-21 21:51] #6 closed

[2017-02-28 21:05] jbkoh opened #8 "Restructure/refine relationships in BrickFrame."

[2017-04-06 18:07] jbkoh opened #10 "There are redundant (incorrect) Tagsets originated from the SchemaEngineering sheet."
original report: https://groups.google.com/d/msgid/brickschema/6374bdb9-d696-443b-9591-346422368f9b%40googlegroups.com?utm_medium=email&utm_source=footer

Example: There are SolarPanel and Solar_Panel
Tagsets should be separated by tags in it. SolarPanel comes from "isPartOf" column, which should be fixed. There are a few more Tagsets like that. Another example is ThermalEnergyStorage.

[2017-04-06 20:26] berkoben commented on #10
Another potential Example is Water System / WaterSystem

[2017-04-07 18:28] jbkoh opened #11 "Removing proprietary names"
E.g., EconCycle.
Are we supposed to include proprietary names?

[2017-04-07 18:37] gtfierro commented on #11
I feel this is ok, given that its a subclass of something more generic

[2017-04-07 18:44] gtfierro commented on #1
Can we consider this accomplished to a first-degree, as per the instructions in https://github.com/BuildSysUniformMetadata/Brick#brick ?

[2017-04-07 18:44] gtfierro commented on #3
Can you either expand on what this means or close the issue?

[2017-04-07 18:45] gtfierro commented on #7
Addressed by https://github.com/BuildSysUniformMetadata/Brick/pull/9

Acceptance of PR predicated on the example buildings being updated with the new URI

[2017-04-07 18:45] gtfierro commented on #8
Can you either expand on this or close the issue?

[2017-04-07 18:46] gtfierro commented on #10
What do you mean by "Tagsets should be separated by tags in it"? Is the issue that there are multiple TagSets with the same name? Or some Tags have the same name as TagSets? Or that some TagSets have aliases?

[2017-04-07 19:02] jbkoh commented on #10
I meant "TagSets should be able to be separated into Tags". It could be my language problem, but in case it wasn't, I put my logic:
Tagsets should consist of multiple reusable Tags with unit information though we don't strictly define what unit information is. For example, in the current Tags.csv, there are WaterSystem, LightingSystem, etc. They should be separated into Water System and Lighting S

[2017-04-07 19:04] jbkoh commented on #10
I also see that somebody put ExhaustFan, ReturnFan as Tags intentionally. I would like to understand the reason why he/she put them as Tags even though we have Exhaust, Return, and Fans as Tags already. Any idea?

[2017-04-08 03:54] jbkoh opened #12 "Missing TagSets."
I'd like to keep this thread to add missing TagSets whenever it's found. Anybody can add more TagSets here or comments about the list.

- [x] Reheat Coil
- [ ] ~~Pump Flow Status~~
- [x] Chilled Water Pump Alarm
- [x] Fire Alarm
- [ ] ~~Supply Air Volume Sensor~~

EDIT: defer the two points until clarifying the meanings from ``Pump Status`` and ``Flow Sensor``. Not handling those in this issue.

[2017-04-10 16:42] gtfierro commented on #12
- [ ] intermediate subclasses for Heating/Cooling Temperature Setpoint
- [ ] Radiators

[2017-04-13 19:11] jbkoh commented on #10
done. https://github.com/BuildSysUniformMetadata/Brick/commit/0422abf6cb7cac02c1ee41e8e9c5462d62a7363e

[2017-04-13 19:11] #10 closed

[2017-04-13 19:12] jbkoh commented on #7
done: https://github.com/BuildSysUniformMetadata/Brick/commit/6f20dd82dc9d78fb8c3b15f33467f1854cf7f29c

[2017-04-13 19:12] #7 closed

[2017-04-13 19:15] jbkoh commented on #3
https://github.com/BuildSysUniformMetadata/Brick/commit/4c78d21e1e7882e62089f8e92e275a5476e79d7b seems establishing this issue. Let me ping Joern for this.

[2017-04-13 19:18] #2 closed

[2017-04-13 19:19] jbkoh commented on #1
yes. let's reopen if other issues come up.

[2017-04-13 19:19] #1 closed

[2017-04-14 08:09] jpsctc commented on #3
I moved Tags to the BrickTag ontology and changed the dependency hierarchy from BrickFrame>BrickTag>Brick to BrickFrame>Brick>BrickTag. Brick itself does not depend on the Tags anymore in  https://github.com/BuildSysUniformMetadata/Brick/commit/4c78d21e1e7882e62089f8e92e275a5476e79d7b, but, is still fully available in BrickTag.

[2017-04-14 08:11] #3 closed

[2017-04-14 08:26] jpsctc commented on #12
- [ ] Combined Heat Power (CHP)
- [ ] Thermal Store
- [ ] Radiators

[2017-04-24 06:48] jbkoh opened #14 "Incorrect TagSets"
- [x] *Integral* and *Integration* coexist. Will replace Integration with Integral if no objections.
- [ ] Remove *CWS_Chilled_Water_Pump_Command* where CWS is redundant.

[2017-05-11 19:32] jbkoh opened #15 "Desk Class"
Suggested by @blip2
Previous thread: #https://github.com/BuildSysUniformMetadata/GroundTruth/issues/5
tl;dr: Adding Desk as a class under Equipment. There are sensor-enabled furniture these days. Such furniture would be useful to provide better occupancy estimation and temperature controls. Thoughts?

[2017-05-11 20:52] gtfierro commented on #15
I think its a pretty straightforward evolution of the schema. I like the idea of a "Furniture" class:

[code]

and then we can have `hasPoint` relationships coming off of instances of those classes in order to associate sensors with them. The furniture can also have `isLocatedIn` relationships with instances from the spatial hierarchy.

There's probably no need for intermediary classes between Equ

[2017-05-22 08:04] jpsctc opened #17 "bug in tagset hierarchy creation"
There is a bug in tagset hierarchy creation detected by @jbkoh

[code]

The `:Air_Damper_Close_Limit` is obviously not a `:Damper`

[2017-05-22 08:05] jpsctc opened #18 "Bug in synonym creation"
Synonyms are not created anymore. Detected by @jbkoh

[2017-05-22 08:06] jpsctc opened #19 "Separate usesDimension references"
It was requested by @gtfierro and @bbalaji-ucsd to move the usesDimensions from the Brick ontology into a separated one

[2017-05-22 08:15] jpsctc commented on #19
Implemented in https://github.com/BuildSysUniformMetadata/Brick/commit/0f3e2205973eb27c78ae9c2f5ae3b850a335ff7d

[2017-05-22 08:34] jpsctc commented on #17
resolved in https://github.com/BuildSysUniformMetadata/Brick/commit/56d670d4bed5c930569d95599cb26bc61136d3f2

[2017-05-22 08:35] jpsctc commented on #18
resolved in https://github.com/BuildSysUniformMetadata/Brick/commit/ccc3912a9cf309083efb6f8a088b98964ffe486e

[2017-05-29 18:00] #17 closed

[2017-05-29 18:00] #18 closed

[2017-05-29 18:00] #19 closed

[2017-06-25 18:42] #15 closed

[2017-06-30 02:14] bbalaji-ucsd opened #22 "Development Roadmap"
- [ ]  Add support for units

- [ ]  Include smart home devices

- [ ]  Interface with Haystack

- [ ] Interface with IFC

- [ ] Basic idioms:
   - [ ] represent a setpoint
   - [ ] represent an HVAC system w/ heating+cooling loops

- [ ] represent a lighting system

- [ ] represent metering infrastructure

[2017-07-05 18:58] bbalaji-ucsd opened #23 "Resource is subclass of Point?"
Should be an independent dimension, like location, right?

[2017-07-05 19:12] bbalaji-ucsd opened #24 "Change isLocatedIn to hasLocation"
hasLocation has a nice inverse "isLocationOf"

It's also part of W3C DUL standard: https://www.w3.org/2005/Incubator/ssn/ssnx/ssn#hasLocation

[2017-07-06 17:04] gtfierro commented on #24
Fixing this issue will require changing all existing example Brick files and buildings.

[2017-07-06 17:34] bbalaji-ucsd commented on #24
Yes, agreed. Should be a simple substitution though. Doesn’t touch any
logic.

- Bharath

On Thu, Jul 6, 2017 at 10:04 AM, Gabe Fierro <notifications@github.com>
wrote:

[2017-07-08 01:01] gtfierro opened #25 "RFC: Proposal for RFCs for Brick"
What is the formal plan and process for continuing development on Brick?

## Components
- RFCs: proposals for how to extend Brick. This is where the majority of discussion should take place
- Pull Requests: implemented extensions to Brick. These can be of several different types:
    - Implementation of an approved RFC: discussion should focus on the implementation, should involve extensive testin

[2017-07-08 20:24] bbalaji-ucsd commented on #25
Thank you Gabe for putting together a comprehensive proposal for RFC.

I’m onboard with all of the changes proposed.

For the two TODOs:
- The documentation can go on the Brick website, in a separate page called
Change Log (or a similar name)
- I think Patch numbers are still useful to have. The developers working on
these detailed bugs know which version they are working on. However, I
support yo

[2017-07-10 17:48] jbkoh commented on #25
I agree on the currently proposed opinions.

One comment that haven't discussed:
I see that an RFC is directed by a manager to a version but it is unclear when we should decide a version is ready to be released. I still think a quarterly (or half a year) board meeting will help to decide release versions. It'd better separating out version release and version development like schema.org (http://sc

[2017-07-11 18:49] gtfierro commented on #25
I've updated the RFC to include comments about the PATCH numbers (assigned when the PR is merged) and documentation (ChangeLog page on the Brick site)

In terms of how we decide what comprises a minor version, I think we can play it by ear. Someone can have an RFC with a list of proposed changes, and then this gets saved into a GitHub milestone after its accepted. We then use the milestone to trac

[2017-07-18 21:11] jbkoh opened #26 "RFC: Units"
## How should Brick represent units?

This RFC continues [this](https://groups.google.com/d/topic/brickschema/qmDxQi8LM5o/discussion)

1. Introduction
 Unit is a primary metadata to interpret/process data modeled with Brick. There was multiple requests to integrate units with Brick and there is no reason not to adopt it. However, designing every possible unit is not a feasible way as there are i)

[2017-07-18 21:32] bbalaji-ucsd commented on #26
Thanks Jason for starting this.

Suggestions:
- How about we allow for alternate names and abbreviations? We already have
these in other classes (supply air and discharge air), (air handler unit,
AHU). It would be really convenient for those familiar with their own
terminology to use that unit (for e.g. cubic feet per min, or CFM instead
of FT3-PER-MIN).
- I think it is fine to include BACnet unit

[2017-07-18 22:05] jbkoh commented on #26
Choosing the right vocabularies is the difficult problem. I am against adopting non-standard vocabularies if there are corresponding standard vocabularies. People can use them internally and map them to standard vocabularies, but we as a Brick should not suggest using  them for interoperability. What is the boundary of non-standard convenient vocabularies and the others? We do not know. No matter

[2017-07-18 22:23] bbalaji-ucsd commented on #26
Yes, that’s a valid point. If I were to have Fahrenheit and DEG_F, I’ll
have to write “sameAs” (I forget the exact term we use) in my SPARQL every
single time I use them. So, there is both a convenience and performance
penalty. On the flip side, if people choose to use Fahrenheit internally,
then they need to handle the transition somehow, we just remove it from our
scope. I think the standards ch

[2017-07-20 00:28] jbkoh commented on #26
I agree with the philosophy of synonyms in Brick. Though we do not have to encourage it, we have to embrace it when it is needed.

Then, the problem would be how to decide what to include and what not to. It would be time-consuming and difficult for us to agree upon. That's the main reason that I just want to adopt predefined vocabularies (mainly from a source if possible.) But I am still open to

[2017-07-20 22:49] berkoben commented on #26
Thinking out loud a bit here...

Naming:
I'm not sure I understand why there needs to be a replication of unit names in Brick.  I would Imagine that a device in Brick would have a tag Like AHU1_FLOW_RATE_UNITCODE rdfs:instanceof qudt:code.  Internally the graph might also have AHU1_FLOW_RATE_UNIT rdfs:instanceof qudt:<someunit> to make he linkage explicit

So a particular control system might have

[2017-07-20 23:00] bbalaji-ucsd commented on #26
Thanks Keith.

For the uninitiated, can you please explain what qudt code is? I know it
would be easy to look it up, but it would help every person who is
following this thread to get some background on qudt.

We are having a separate discussion on where does Brick fit from a system
perspective. We were imagining the use case where all of the Brick info is
stored in some database, and the system h

[2017-07-21 00:33] berkoben commented on #26
Let me know if this clarifies:

qudt:code
  rdf:type owl:DatatypeProperty ;
  qudt:description "A code is a string that uniquely identifies a QUDT
concept.
(from http://qudt.org/2.0/schema/SCHEMA_QUDT-v2.0.ttl)

Every unit in QUDT has a unique unit code.  For instance: unit:DEG_F
qudt:code "0525" ;
(from http://qudt.org/2.0/vocab/VOCAB_QUDT-UNITS-THERMODYNAMICS-v2.0.ttl)

From my perspective as a

[2017-07-25 02:17] bbalaji-ucsd commented on #26
Thanks for the explanation Keith.

High level point:
- From a system point of view, I would like to keep the design of Brick
separate from implementation optimizations.

Storage:
- Anyone who implements Brick is free to combine units as part of the
Tagset in their database. I don’t see why this needs to be standardized.

Devices: (This is what I meant by embedded systems processing)
- I agree we m

[2017-07-25 20:49] jbkoh opened #27 "Duplicated CO2_Sensor"
Migrating a bug report from https://github.com/BuildSysUniformMetadata/GroundTruth/issues/7

[2017-07-27 02:37] jbkoh commented on #26
About QUDT's inconsistency: It is very unfortunate that some of its vocabularies are inconsistent. I would like to use a source for all units instead of us mapping or creating different units sources. If there is a better choice, I would like to use it.

A paper analyzed unit ontologies with 16 use cases:
https://www.w3.org/community/owled/files/2016/11/OWLED-ORE-2016_paper_5.pdf
Among the use cas

[2017-07-27 05:12] bbalaji-ucsd commented on #26
Spent some time reading through qudt, OM, and BACnet units (
http://bacowl.sourceforge.net/2012/bacnet.ttl).

For the first time, the last message (thanks Jason!) came out with reasons
for why we should use qudt instead of saying it is a standard. And looking
into it deeper at qudt.org, I can see that is a well designed system that’s
focused on machine translation and consistency. The reason the u

[2017-07-28 06:05] jbkoh commented on #26
My proposal for QUDT is not letting people to look up the entire QUDT but we adopt some of its vocabularies into our space so that users do not have to look-up all the vocabularies in QUDT.

If nobody likes it, BACNet standards should be considered instead of BACNet ontology (which is not a standard.) Here's the list I found: https://www.ccontrols.com/pdf/BACnet_Units.pdf

I personally do not see

[2017-07-28 06:38] bbalaji-ucsd commented on #26
Replying inline.

On Thu, Jul 27, 2017 at 11:05 PM, Jason Beomkyu Koh <
notifications@github.com> wrote:

I’m fine with this option. How would you do it? I’m assuming it is not a
copy-paste of DEG_F, as all the benefits of ontology would be lost.

It would be good to highlight why an option is good/bad. Even better if
there are examples. I’m picking the simplest option, i.e. BACnet units and
the o

[2017-07-28 08:16] jbkoh commented on #26
- I actually meant the copy-paste of DEG_F with its namespace. So we are sort of suggesting vocabularies in QUDT although users can try to find one or compose one directly from QUDT. If one uses qudt:DEG_F, it just works for both who just wants to annotate it and who wants to exploit the QUDT's semantics.

## The pros and cons I think are:

### BACNet units:
1. Pros
 (1) Vocabularies are consisten

[2017-07-28 08:27] bbalaji-ucsd commented on #26
Okay, this makes sense.

Questions:
- How does this change Brick? Restrictions with rdfs:domain / range ? An
example would help.
- How does a user handle new units, i.e. those not in Brick?
- When the user doesn’t know the unit, can they leave out the hasUnit
property?

Regards,
Bharath

On Fri, Jul 28, 2017 at 1:16 AM, Jason Beomkyu Koh <notifications@github.com

[2017-07-28 15:29] gtfierro commented on #26
I don't see this as really changing Brick; if you are aware of the units then you can add the annotation to the points w/n your Brick model. Adding units to Brick models should be encouraged, but we can't really make it necessary (other than adding a "best guess").

If a user wants to add new units, they can follow the same process as they always can when Brick is missing something: add it! With f

[2017-07-28 19:59] jbkoh commented on #26
I see. All the semantic things could be deferred to be done by mapping at needs, which may not be significant efforts. I will just check with ASHRAE if we can use the terminologies directly.

[2017-07-28 20:33] berkoben commented on #26
do BACnet units define conversion factors or group by systems of units?  This is a very useful feature of QUDT for application development.

Similarly, if one wanted to be very strict (recommended) one could set a constraint  to limit what
family of units a :MeasurementProperty_PhysicalProperties subclass could have (ex: qudt:TemperatureUnit).

[2017-07-28 20:50] gtfierro commented on #26
Conversion factors are helpful, to be sure, but do these need to be part of the ontology?

An important exercise, which we haven't done yet, is list what we need to use units for. Then, we can choose a solution based on whether or not it can accomplish what we need of a units system.

I can think of
- associate engineering units with a "point" (e.g. sensor, meter, command, setpoint)
- convert a st

[2017-07-28 22:00] berkoben commented on #26
I would think of the actual engineering unit like the value of a point.  As
such, you could decouple the two ontologies by simply referring to the
unit:

in the graph:

:ZONE_TEMPERATURE_SENSOR_UNITCODE a owl:class
    rdfs:subclassof  qudt:code

:ZONE_TEMPERATURE_SENSOR a owl:class
  rdfs:subclassof :temperature_sensor
  bf:hasUnit :ZONE_TEMPERATURE_SENSOR_UNITCODE

In your actual data:

ZONE_TEM

[2017-07-28 22:11] gtfierro commented on #26
Almost makes sense to me, but not quite. There's no instances in your example, and instead we're attaching units (and numerical values?) to classes. Ignoring the numerical values (which are not part of this discussion), we'd probably have:

:ZONE_TEMPERATURE_SENSOR_UNITCODE a owl:class
    rdfs:subclassof  qudt:code

:ZONE_TEMPERATURE_SENSOR a owl:class
  rdfs:subclassof :temperature_sensor
  bf:h

[2017-07-29 04:30] bbalaji-ucsd commented on #26
- convert a stream from one unit to another unit (e.g. wireless sensors
   in C vs a thermostat in F)

I’m not sure this needs to be in the requirement list. If the user can
identify that two sensors are in C and F respectively, then they can handle
the conversion between them? What role can Brick play here?

For requirements: I would add that users should be able to extend Brick
units if they don

[2017-07-29 04:49] jbkoh commented on #26
@bbalaji-ucsd

All of the things we talked can be done manually even without Brick or any other standards. We wish adopting any standards could reduce the effort to do any processing, which is Brick's goal. Brick's role is not converting units, but Brick can let users to automate the process by adopting a well-defined semantic model, which is Brick's role (== choosing right standards to integrate.

[2017-07-29 05:22] jbkoh commented on #26
@gtfierro

I summarized the use cases [here](https://github.com/BuildSysUniformMetadata/Brick/issues/26#issuecomment-318241636).

There are more possible but not required use cases in the paper.

[2017-07-29 05:24] jbkoh commented on #26
I don't know why UNITCODE is good to use. Is there any benefit of using UNITCODE other than they are shorter?

[2017-07-29 06:04] bbalaji-ucsd commented on #26
If we are going with qudt, can we please discuss a concrete example? All of
the automated translation and well-defined semantic model are too abstract
to me. Examples can clarify how they add value compared to a simple
vocabulary.

We can start with the example that Keith gave:

:ZONE_TEMPERATURE_SENSOR_UNITCODE a owl:class
rdfs:subclassof qudt:code

:ZONE_TEMPERATURE_SENSOR a owl:class
rdfs:subcl

[2017-07-29 10:31] jbkoh commented on #26
You are right. I will make some examples for the case after the paper.

[2017-07-29 16:18] gtfierro commented on #26
Jason, those are use cases from another paper, which aren't necessarily *our* use cases, and some of them conflict with each other.

It seems like the **only** thing we need units for is to annotate the kind of units a particular point has, e.g.

:sensor_123 rdf:type :ZONE_TEMPERATURE_SENSOR
:sensor_123 bf:hasUnit :DEGREES_FAHRENHEIT
:DEGREES_FAHRENHEIT rdfs:subClassOf :TEMPERATURE_UNIT

- transla

[2017-07-31 01:28] gtfierro commented on #25
Might as well change this to accepted :)

[2017-07-31 01:28] #25 closed

[2017-07-31 17:38] berkoben commented on #26
This is a reasonable way to describe soemthing for which you have
statically defined units, but for the purposes of writing applications,
having more than a unique name behind the unit is important.  Critically,
unit conversion factors to a standard system are particularly useful.  Do
you know if BacNET gives you the same conversion capability? Adopting
something like QUDT solves this part without

[2017-08-03 06:25] bbalaji-ucsd commented on #26
Hi Keith,

Can you please explain with an example how would QUDT help with automated
conversion of units?

I’m not sure I understood the second part.

Regards,
Bharath

On Mon, Jul 31, 2017 at 10:38 AM, berkoben <notifications@github.com> wrote:

[2017-08-03 23:56] gtfierro commented on #26
I think there's two different issues here:
1) how do we represent units of a sensor within a Brick model, and
2) how does a device present/describe itself to a Brick model, which may include units

I don't want us to get confused in trying to optimize Brick for embedded and/or constrained devices. We can always implement some other mechanism in that device's communication that either explicitly or

[2017-08-04 01:08] berkoben commented on #26
Replying to Bharath,

If I understand QUDT correctly, the ontology defines a   rdf:type qudt:BaseUnit (SI/Kelvin) as a common set of units through which to convert units and provides conversion factors from each defined unit into base units.  Therefore, if you have any two compatible units (QUDT also defines unit types in such a way that one would automatically know if two units were compatible),

[2017-08-04 06:25] bbalaji-ucsd commented on #26
Thanks Gabe, Keith! It is finally clear (to me at least) what QUDT provides
w.r.t conversion of units.

I second Gabe that we need to establish the role of units in Brick to
finalize this discussion. This would set the tone for future extensions to
Brick as well. I agree with the first requirement, but not so convinced
about the second.

I have the following points of discussion:
1. In our current

[2017-08-04 17:01] berkoben commented on #26
Responses by number:

1.  I think there's still a logical leap between unit conversions and control logic.  Unit conversions are essentially static and universal.  The conversion factor of a unit to another unit is a fundamental property of that unit that is inextricably tied to the semantics.  This is different than a control relationship, which is user/manufacturer defined _behavior_.  Knowing t

[2017-08-04 17:34] bbalaji-ucsd commented on #26
Replying inline.

On Fri, Aug 4, 2017 at 10:02 AM, berkoben <notifications@github.com> wrote:

Valid points. By a “reasoner” I meant the calculations w.r.t unit
conversion. I’m not aware of any RDF validator that performs such
conversions, but I admit I’m not familiar with them. So it comes down to
delegating unit conversion to Brick and QUDT instead of a separate program
that the user manages. If

[2017-08-06 00:31] jbkoh commented on #26
Sorry I have been off from this discussion. I will try to answer below. Hope it is not repetitive. I listed use cases from the paper for Brick. Some of them might be an overkill while some of them are essential for Brick. We can discuss role of units in Brick with the following use cases.

1. We need a reference of unit meaning. Who should map all of them? BACNet unit is just a vocabulary but does

[2017-08-07 19:21] bbalaji-ucsd commented on #26
This SPIN stuff is wonderful (Thanks Jason!). A quick tutorial for those
new to it: https://www.slideshare.net/HolgerKnublauch/spin-in-five-slides
To summarize, SPIN is an extension of SPARQL that can be used to convert
units automatically. The API looks similar to SPARQL. It is supported by
many vendors, but not yet a W3C standard.
I finally have a concrete answer on how unit conversion can work,

[2017-08-07 22:52] jbkoh commented on #26
- SPIN
  - The painful part of SPIN is that there is only one opensource implementation in Java, and there is no SPARQL endpoint implementation supporting SPIN other than TopQuadrant's commercial one (expensive.) That's why I was cautious to say using a reasoner engine (and SPIN) and probably that's one of the reasons why Gabe wants to implement his own version.
  - In case of you have not recogni

[2017-08-07 23:22] bbalaji-ucsd commented on #26
I wasn’t calling anyone a feature creep. It’s a technical term, I explained
what it means and I linked the Wikipedia article:
https://en.wikipedia.org/wiki/Feature_creep

I’ll excuse myself from this conversation.

Regards,
Bharath

On Mon, Aug 7, 2017 at 3:52 PM, Jason Beomkyu Koh <notifications@github.com>
wrote:

[2017-08-08 00:29] jbkoh commented on #26
Sorry that I misunderstood the terminology. The link was broken and I did not look it up by myself. I thought it was a kind-of slang indicating a person who pushing features without reasons. My apology.

Along the line, I would like to clarify what I said. I was not saying we should not consider building managers. I was saying there should be no sacrifices of features needed by building developers

[2017-08-08 19:09] bbalaji-ucsd opened #28 "RFC: Add Electrical Domain"
We need to add the following as part of Equipment class. The hierarchy can be part of Electrical System, just like a separate hierarchy for HVAC, Lighting System, etc.

- Power meters
… We need to have a notion of which areas of a building does the power meter cover.
... Points: Voltage, Current, Power, Energy

- Circuit Panel
... Knowing where they are located and what areas they cover is useful

[2017-08-16 14:22] blip2 opened #29 "Use of Luminance"
Typically lighting systems within buildings are designed, specified and installed based on illuminance levels (measured in lux). The use of luminance for a number of classes (particularly for LightingSystem) while technically still a valid measurement, not actually the correct terminology what what happens in practice.

[2017-08-17 22:31] jbkoh commented on #29
In-depth discussion continues at Brick Google Groups. The discussion will be summarized here once it's finalized there:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/brickschema/crnEA450VJ8/ZTdORh1UCAAJ

Any comments and discussions are welcome here too.

[2017-08-21 11:12] blip2 opened #30 "RFC: Add shading devices"
There doesn't seem to be a class to define shading devices e.g. automated blinds or adjustable brise soleil - should be a fairly straightforward definition for the equipment:

Equipment>Adjustable Shading
Equipment>Adjustable Shading>Blind
Equipment>Adjustable Shading>Louver

The control and measurement definitions would be very similar to a Damper (position, limit sensor/setpoints, command)

[2017-08-21 23:03] jbkoh commented on #30
This looks straight-forward and necessary.
- What about "Shading System" with
removing Adjustable as it is obvious (or not meaningful)
and adding System to clarify this is a system (or device)?

- I made this as an RFC as I think it is self-contained.

[2017-08-24 19:39] blip2 commented on #28
I've started further discussion here: https://groups.google.com/forum/#!topic/brickschema/6QvW5kJEmks

[2017-09-03 01:31] jbkoh commented on #26
Revitalizing the unit discussion, I summarize the features I think we need in Brick with units. (Let's defer what are best for the features.)

1. **Unit definition reference**: Users should be able to find the definition of the unit (like with a link to the definition.)
2. **Rule checking**: Whether a user assigned a proper unit for temperature sensor.
3. **Unified way of composing new units**: Li

[2017-09-04 05:49] jbkoh commented on #29
Summary of the discussions so far.

1. Introduce following TagSets: (I have aligned the style to other existing Brick tagsets.)
Equipment | Lighting
Equipment>Lighting | Luminaire
Equipment>Lighting>Luminaire | Maintained Emergency Luminaire
Equipment>Lighting>Luminaire | Nonmaintained Emergency Luminaire
Equipment>Lighting | Luminaire Driver
Point>Sensor | Absence Sensor
Point>Sensor | Illuminanc

[2017-09-07 15:50] berkoben commented on #26
can you provide an example of what you mean by composing a new unit?

On Sat, Sep 2, 2017 at 6:31 PM, Jason Beomkyu Koh <notifications@github.com>
wrote:

[2017-09-09 23:14] jbkoh opened #31 "Removing inverse relationships?"
All,

I felt I needed to bring up this issue while reviewing our paper.

Do we really need inverse relationships? I think it carries more complexity than its convenience. Because every line of a query should be duplicated and united due to allowing inverse relationships. E.g., If I want to find sensors in a room, it should be
[code]
because a query designer does not know whether a building manager

[2017-09-09 23:19] gtfierro commented on #31
Inverse relationships are vital to the usability of Brick. The whole point is it allows you to remove the annoyances above.

In HodDB,

[code]

returns the same results as

[code]
If the SPARQL engine you're using doesn't support that part of the OWL ontology, which helps define the inverse edges, then you need to get a better one.

---

As an aside, concatenating the edges `hasLocation` and `isLo

[2017-09-09 23:23] jbkoh commented on #31
OK. If a SPARQL engine can recognize it, it should be fine.

The concatenation just reduces two lines of query to a line.
[code]
to
[code]

I am closing this issue as a SPARQL engine can abstract it.

[2017-09-09 23:26] jbkoh commented on #31
I actually reopen it. @gtfierro, I haven't checked it yet, but is it SPARQL standard behavior or your optimization? I think it is an inference stage that is not included in SPARQL standard?

[2017-09-09 23:27] gtfierro commented on #31
SPARQL just defines the language, not the semantics or the inference, so I'm not sure what you mean.

Isn't inference the **whole point** we're using RDF/SPARQL?

[2017-09-09 23:49] jbkoh commented on #31
SPARQL does not define its implementation but defines the language and its semantics. In other words, if a user sends a query, no matter engine he/she uses, the user expects to receive the same result. I wondered the inferred result is expected in any other SPARQL engines (maybe. but I can't find that specification). The inference is I believe not the part of SPARQL engine but reasoner's. So one c

[2017-09-12 17:36] berkoben opened #32 "Point type definitions"
I'm in the process of trying to map brick to a live system and I'm having some difficulty determining what maps to what because the base point types are not defined anywhere.  Ex:

I have a system (VAV) with:
- a schedule-based occupancy value (schedule_occ)
- an occupancy override value (from the button a person presses to say they're here) (occ_override)
- an effective occupancy that combines th

[2017-09-12 17:51] berkoben commented on #32
For completeness.  All of the direct subclasses of point I could find were:

Setpoint
Alarm
Command
Status
Sensor
Resource
Meter

Each of these require a precise definition

[2017-09-12 18:35] jbkoh commented on #32
You are right, the documentation is 'the' necessary job that has been held for a while. I add my understanding used in the design but note that there is no official agreement on those yet. We can use this thread to finalize the definitions.

## From other standards

### [ASHRAE dictionary](https://www.ashrae.org/resources--publications/free-resources/ashrae-terminology)
- Status: (1) indication of

[2017-09-12 18:45] jbkoh commented on #32
Forgot to answer to your specific systems:
a schedule-based occupancy value (schedule_occ)
an occupancy override value (from the button a person presses to say they're here) (occ_override)
an effective occupancy that combines the two (effective_occ)

From what I (probably the others too) have done:
- schedule_occ == Occupied_Command
- occ_override == Temporary Occupancy Status
- effective_occ: I h

[2017-09-12 22:13] berkoben commented on #32
Given this information I would probably go with:

scheduled_occ : Scheduled_Occpuancy_Status
occ_override : Temporary_Occupancy_status
effective_occ: Occupancy_command | **Occupancy_Status**

I think I like to think of Command as a strict output designed to be consumed by another controller, or a piece of physical hardware.  As a result I think I would prefer "status" than "Command" for the third

[2017-09-12 22:41] jbkoh commented on #32
I agree. I was too biased to vendor-given metadata that I have, but after reading the ASHRAE definitions (even though I posted it!), we have to use Status.

A possible danger with introducing "scheduled" is that the term gives an impression of "future" values while Scheduled_Occupancy_Status is not related to the future at all but just the current value. I am fine with it, but would like to listen

[2017-09-12 23:28] berkoben commented on #32
Calendar_occupancy_Status better?  The sctual variable name in ALC is "Schedule"  I think in the depths of the bacnet object there is in-fact a schedule, but not sure as my investigation tool is currently down.

Also:  Effective_Occupancy_Status probably makes sense for the one used by the control program.   This mirrors what is already in place for temperature.

[2017-09-20 20:35] jbkoh commented on #32
Sorry for the delayed response. I will finalize issues as many as possible today. In this thread:

### Occupancy-related
1. I like **Calendar_Occupancy_Status** is better
2. Let's keep **Temporary_Occupancy_Status**
3. Let's introduce **Effective_Occupancy_Status**
4. **Occupancy_Status** is a generic occupancy status. 1.-3. are subclasses of Occupancy_Status

### Basic Point Definitions
I propose

[2017-09-21 17:45] jbkoh commented on #26
@berkoben
Sorry for the late reply. I was summarizing our necessities, but not sure if there is a perfect implementation of all the features. Here's what I was thinking of for composing new units.

Given basic units such as DEG_F and HR, many units would be composable with multiplication and divisions. Let's us say if we enumerate units (connected by hyphen), it means multiplication. And PER means

[2017-09-21 18:02] steveraysteveray commented on #26
Jason,

            I’m fine with your sharing those naming rules for the qnames. Of course, these are just naming conventions to make things easier for humans. The formal relationships are in the model itself.

the conversionMultiplier and conversionOffset approach is the same as used in most of the units models.

- Steve

Steven R. Ray, Ph.D.

Distinguished Research Fellow

Carnegie Mellon Unive

[2017-09-21 19:13] jbkoh commented on #26
@steveraysteveray
Thanks for the prompt response. I totally agree that the naming convention is only for human. I definitely would like to use the explicit way of composing units. I have questions related to that, but will continue that discussion in a QUDT thread later.

[2017-09-21 20:01] berkoben commented on #26
If we want to programmatically ensure compatibility between units, then quantityKinds would need to also be composable to allow for truly composable units.  Absent this you'd have to require that every unit be explicitly defined.  (though even in this case a standard for how things are named would be useful)

[2017-09-23 17:58] bbalaji-ucsd commented on #26
Couple of things I noticed:

1. How do you standardize between “Watt-second” and “second-Watt”. Seems
like both are fair game by the above rules.
2. “Watt-second” is actually already covered as “Joule”. How do you clear
this ambiguity?

Regards,
Bharath

On Thu, Sep 21, 2017 at 1:01 PM, berkoben <notifications@github.com> wrote:

[2017-09-26 20:57] jbkoh commented on #26
@bbalaji-ucsd
- Tag ordering problem: It was also problematic in TagSets. Heating Min Flow or Min Heating Flow? Users should follow common usage of units . And units are mostly defined well already and we only care how to represent them. For example, Second-Watt is not used and we do not have to provide that.
- Watt-second == Joule can be represented as same inside a unit ontology (or by us). If w

[2017-09-26 21:37] steveraysteveray commented on #26
I agree. The important things are the defined model relations, not what the URI actually looks like. In principle, the URIs could be serial numbers. There could be multiple rdfs:labels if you really wanted that. When searching for something that has dimensionality of (power x time) or of (time x power), it won’t matter.

- Steve

Steven R. Ray, Ph.D.

Distinguished Research Fellow

Carnegie Mellon

[2017-09-26 22:04] jbkoh commented on #26
@berkoben
Sorry, could you elaborate more about the relationship between unit and quantityKind? I think having composition rules for quantityKind may be useful, but would like to understand its influence on units.

If you are talking about "Temperature should have Celsius or Fahrenheit as a unit", that's the second feature I mentioned in https://github.com/BuildSysUniformMetadata/Brick/issues/26#i

[2017-09-26 22:16] bbalaji-ucsd commented on #26
For the unit composition, I thought the users were composing units. If it’s part of Brick it shouldn’t be a problem.

@steveraysteveray How do you accomplish this in RDF?
"When searching for something that has dimensionality of (power x time) or of (time x power), it won’t matter."

[2017-09-26 23:01] berkoben commented on #26
@jbkoh quantityKind (QUDT concept) refers to an equivalent type of measurement (ex: mass or temperature).  A unit describes the conversion factors required to convert to a common common unit of measurement a quantityKind (ex grams or Kelvin).  A unit therefore belongs to one and only one quantityKind.

[2017-09-27 17:03] steveraysteveray commented on #26
I’m really going out on a limb here, and haven’t even vetted this with colleagues, but if you start with the dimension vectors for power x time (which is energy), that is: Mass x Length**2 / Time **2, then you can navigate to the units that have that dimensionality. Something like:

SELECT ?unit WHERE {

?s qudt:hasDimension ?dim .

?dim qudt:hasDimensionVector qudt:DV_USCUSTOMARY-L2 .

?dim qudt:

[2017-09-27 17:40] bbalaji-ucsd commented on #26
Thanks Steve! This does help a lot to understand how the unit ecosystem
works.

Regards,
Bharath

On Wed, Sep 27, 2017 at 10:03 AM, steveraysteveray <notifications@github.com

[2017-09-28 05:04] jbkoh commented on #32
Those suggestions generally make sense to me.

- let's stick to Scheduled_Occupied_Status
- It's too early to introduce Schedule TagSet. One can issue another thread to discuss it. I think it's necessary though.
- The reason that we came down to Status was the ASHRAE definition. And input/output concepts are quite confusing when it comes to select vocabularies. Between Status and Command I think t

[2017-10-01 23:29] jbkoh opened #33 "RFC: Clarification and Update of Occupancy-related Points."
Based on the discussion at https://github.com/BuildSysUniformMetadata/Brick/issues/32.

### Motivation
Current usage of Occupancy, Occupied, Command and Status are not standardized and it's unclear when to use what. This RFC is unifying such clutter into using Occupancy and Command in general.

### Introduce following TagSets:
- **Occupancy_Command**: Command informing Occupancy to target Points o

[2017-10-01 23:40] jbkoh opened #34 "RFC: Definition of High-level TagSets of Points."
Based on the discussion at: https://github.com/BuildSysUniformMetadata/Brick/issues/32

### Motivation
There were no clear definitions of below highlevel Point TagSets.

### Add definitions to following TagSets
1. **Status**: State, position, or condition of an item. (adopted from ASHRAE dictionary) Technically, this value should not be arbitrarily written by users or other systems as it is an obs

[2017-10-01 23:42] jbkoh commented on #32
Closing this as it resulted in two RFCs in https://github.com/BuildSysUniformMetadata/Brick/issues/33 and https://github.com/BuildSysUniformMetadata/Brick/issues/34.

[2017-10-01 23:42] #32 closed

[2017-10-01 23:51] jbkoh commented on #30
Hi, @blip2

I am sorry that it's been a while (maybe too much) since you issued this. Are the above TagSets sufficient enough for the relavant systems? They look reasonable and useful. I also saw three Points from your commit at your fork, Shading_System_Command, Shading_System_Position_Sensor, and Shading_System_Position_Setpoint. Are they sufficient enough for your system?

If there is no furthe

[2017-10-02 16:57] blip2 commented on #30
Hi, @jbkoh - Yes I think those listed are sufficient, the only other thing might be for a general fault/alarm from the controller but I think something like Fault_Indicator_Status would suffice.

[2017-10-02 17:38] bbalaji-ucsd opened #35 "Add Network Domain"
This is not a formal RFC, as it doesn't contain any concrete list of things to add to Brick. I just wanted to start this discussion as it is one of the major concepts missing in Brick right now.

Network is probably part of every equipment we have listed and is essential for many building services and applications. There is a taxonomy of networks: Ethernet, WiFi, BACnet and so on. May be we can ge

[2017-10-06 21:30] berkoben opened #36 "RFC: Structured Tag Generation"
**Background:**
The current means of defining Brick tags and Tagsets is highly repetitive, does not enforce consistency / non-duplication, nor does it facilitate generating tag[set] documentation.

This is a problem when trying to use Brick in real applications.

**Objective**
To specify a concise method for defining tags and tagsets that allows machine-generation of an internally consistent ontol

[2017-10-06 22:50] gtfierro commented on #36
Just putting the note here that I have an implementation of this that I'm working on and can post soon

[2017-10-06 22:54] berkoben commented on #36
Thanks!  I'm writing up comments on your readme right now

On Fri, Oct 6, 2017, 3:50 PM Gabe Fierro <notifications@github.com> wrote:

[2017-10-18 16:35] gtfierro commented on #36
**Note to all**: There is a preliminary implementation of this at the [gabe-efforts branch](https://github.com/BuildSysUniformMetadata/Brick/tree/gabe-efforts/src). It is a work in progress.

First of all, I want to enumerate my support for this idea. Having a structured means of generating tagsets for Brick means that we can be more consistent and complete in its definition, and more easily expan

[2017-10-19 00:43] berkoben commented on #36
I agree with @gtfierro that it makes sense to construct points and equipment differently.

As with points, the value in Brick comes from providing a predictable structure while still offering ad-hoc extensibility through extension and composition.  In particular as a programmer, it is important to me that knowing a Brick equipment class for a device tells me something meaningful and specific about

[2017-10-23 04:44] jbkoh commented on #36
Thanks for the detailed implementations and discussions. Though it might have been already late, I add my thoughts.

### Discussion sources
I think all the discussions widely spread, and I think it is best to aggregate all of them here:
- [Keith's private Google doc](https://docs.google.com/document/d/1pcVcpR1p94VF3DGwA5GOkuWXsOHt2JuuvusmS-JadxA)
  (@berkoben, is it possible to make the google doc

[2017-10-23 17:38] berkoben commented on #36
Private domain docs can't be made globally accessible, however I think Gabe picked up all the comments and integrated them in his long form post, so I believe the RFC thread is comprehensive for the topic of tagset generation.

Responding to comments by @jbkoh:

1. Agree.  That was my oversight in using media instead of resource.

2. You bring up a good point that equipment is not included in the

[2017-10-24 00:58] berkoben commented on #36
Following up on my post about a **Composition-Based View**, the following is a specification for VAVs from a real building I'm working on:

- **Bold** text is a class definition.
- Points in the block below the bold text are points that belong to that class.
- "Extends" notation is used to represent the fact that a particular class inherits the point associations of the extended classes (though I

[2017-11-01 01:35] gtfierro commented on #36
I like the idea of using interfaces. The Java-style declaration (e.g. `extends`) feels like a good way to describe what the point/component requirements of that "flavor" of equipment are. What can help with usability is to adopt a structural-typing style approach to determining the instantiated classes. If a VAV `hasPoint` Zone-Air-Temp-Dual-Setpoint, then it *is* a VAV-DSP (per your example above

[2017-11-07 13:42] berkoben commented on #36
A couple of thoughts:

@gtfierro What you propose in terms of implicit interface implementations is interesting from the perspective of minimizing the need to know the existing compositions, however it does allow the designer to create excessively verbose configurations (by ignoring the existing compositions).  Additionally, I'm not sure that it is necessarily the case that a composition completel

[2017-11-13 14:30] blip2 opened #37 "Utilising Building Topology Ontology"
Building Topology Ontology / bot https://github.com/w3c-lbd-cg/bot provides a central lightweight ontology for space and physical relations within buildings with the aim to align with or provide a base level of classes for other domains.

Given that Brick is a domain specific ontology (controls), I think Brick should either aim to align with BOT (there is an existing alignment here: https://github

[2017-11-15 17:28] gtfierro commented on #37
Thanks for the suggestion, @blip2! Locations is definitely an area that we need to expand out a bit. Looks like BOT has `space`, `floor` and `building` as the base classes, with a couple space subclasses such as `garage`, which is a good start. We should have a little discussion about what we need to handle space-wise in Brick.

Some issues we should think about:
- is building -> floor -> room and

[2017-11-21 08:36] jbkoh commented on #37
Thanks for the pointer, Ben!

I looked a bit into BOT's literature. This must be its core design:
![image](https://user-images.githubusercontent.com/1572627/33061451-08e82ba8-ce51-11e7-961a-6402a584b6bd.png)

- Basically the only difference so far seems to be "adjacentZone" and "adjacentElement".
  - While Element can be anything other than space, there is an example using it to describe Wall<->Ro

[2017-11-26 23:08] gtfierro commented on #37
I think the key element missing is a set of solid use cases for expanding the spatial elements. Once we have that, then we can make a solid decision about what to include from BOT. I think the best way to do the inclusion is to provide the "alignment" or "mapping" from Brick to BOT, rather than cross our fingers that BOT retains its structure.

For most applications involving space, I imagine the

[2018-01-03 19:35] bbalaji-ucsd commented on #36
Just reading up on this discussion. I really like the ideas proposed here
and I think it would help “codify” Brick in a much better manner. Did you
guys decide on which way you are planning to go in the final version? Also
wonder how much of this can be made compatible with ontologies so that
SPARQL (and other tools) can work.

There was also a suggestion late last year that we re-use tags from
Ha

[2018-01-03 19:36] #35 closed

[2018-01-05 01:40] berkoben commented on #36
Speaking for myself, I'm pretty happy with the measurement-based view for tagsets and the composition-based view for equipment as described above.  I think this captures a lot of the needs for developers.

As stated above, I prefer to have explicit rather than implicit inheritance (the only disagreement Gabe and I seem to have above).  I am not familiar enough to sparql to really speak to that asp

[2018-01-05 16:29] bbalaji-ucsd commented on #36
Agree with you.

We could break up the compound tags in Haystack or ignore them to make our
model clear. At this time, the adoption of Haystack is high enough to
warrant use of their vocabulary whenever possible.

On Thu, Jan 4, 2018 at 5:40 PM, berkoben <notifications@github.com> wrote:

[2018-01-08 05:50] gtfierro commented on #36
Sorry for being absent in this discussion! I've been busy moving things off my plate so I can get back to this.

I think I'm coming around to @berkoben's view on explicit inheritance. There are some interesting developments in the Haystack working group on their new type system, so I want to take a close look at that to see if there's a way we can bring them together and possibly facilitate transl

[2018-04-06 22:38] jbkoh commented on #34
I am adding the abvoe definitions but the Meter issue is more complicated than I expected as there are many dependent Points named as Meter already. I would like to make the below changes.

1. Change ``Meter, Water Meter, and Steam Meter`` as ``Equipment``. Those are measuring *something* related to the target ``Resources``.
    1. Remove ``Energy Meter`` and ``Power Meter``.
    2. Introduce ``El

[2018-04-06 23:34] jbkoh commented on #30
@blip2 I apologize that I've been ignorant of this issue. I am resolving the remaining issues for a minor version update. I found that Louver is often regarded as a type of Blind. https://en.wikipedia.org/wiki/Louver

Do you think placing Louver as a subclass of Blind is reasonable?
Shading System>Blind>Louver

I will add those very soon. (It should haven't taken this long...)

[2018-04-06 23:39] jbkoh opened #40 "Is ``Pump_Alarm_Delay_Setpoint `` a subclass of ``Alarm``?"
Was it intentional? There are several points like that:
[code]

I will fix this if it wasn't intentional.

[2018-04-07 00:11] gtfierro commented on #40
Why shouldnt these be alarms? It seems like they all for that description

On Fri, Apr 6, 2018, 7:40 PM Jason Beomkyu Koh <notifications@github.com>
wrote:

[2018-04-07 00:15] jbkoh commented on #40
Simply put, ``Alarm`` is a read point and ``Setpoint`` is a write point.

In my understanding, ``Low Humidity Alarm Setpoint`` is a setpoint, of which value indicates whether an alarm should be set or off. I.e., ``Low Humidity Alarm Setpoint`` is related to ``Alarm`` but it's not a type of ``Alarm``.

[2018-04-07 01:06] jbkoh commented on #24
At this moment, I'd like to replace ``isLocatedIn`` with ``hasLocation``, and ``contains`` with ``isLocationOf`` because

- ``contains`` is confused with ``isPartOf``
- Having equivalent properties would be computationally wasteful with more latencies.
- We have specified the versions. One can relate the previous version's ``isLocatedIn`` with the current version of ``hasLocation``.
    - Even mor

[2018-04-07 01:13] jbkoh commented on #14
The second one now seems valid to have equipment hierarchy inside its name. It might be clarified with tagset construction rules later.

[2018-04-07 01:13] #8 closed

[2018-04-07 04:12] gtfierro commented on #24
I like this change. Shall we shoot for this landing in 1.0.3? I'd like to bundle a bunch of these changes together

[2018-04-07 05:25] jbkoh commented on #24
Yes. I am compiling those updates here:
https://github.com/jbkoh/Brick/tree/1.0.3

With regards,
Jason Koh

On Fri, Apr 6, 2018 at 9:12 PM, Gabe Fierro <notifications@github.com>
wrote:

[2018-04-07 17:03] gtfierro commented on #40
`Alarm Setpoint` is the value at which the alarm triggers, so its a bit of both, but I think I agree that it should be a subclass of `Setpoint` rather than a subclass of `Alarm`

[2018-04-07 17:10] gtfierro commented on #34
I think `Meter` should be a subclass of `Sensor`. `Meter` implies that the quantity is being measured for some sort of billing or accounting purpose. So I say lets keep those `Meter` names as-is, but make sure that `Meter` is a subclass of `Sensor`.

I like having `Energy Meter` and `Power Meter` because these unambiguously describe what they are measuring, whereas `Electricity Meter` doesn't.

Th

[2018-04-07 21:01] jbkoh commented on #34
I know that we are more used to meters as points because people have used it more than using sensors. There are a few reasons why I would like to make ``Meter`` an ``Equipment``.

- There are devices (we call ``Equipment``) whose purpose is only measuring various types of data. ``Meter`` is the best name for it.

- Haystack defines Meter as Equipment, which would be an important alignment for the

[2018-04-07 21:09] jbkoh commented on #11
It was originally observed at EBU3B UCSD like ``CRAC_EconCycle_On_Off_Status``. It's even not even Equipment. We do not know what EconCycle means for now, so I will leave it until we clarify what it is. Please open this again if anyone would like to clarify this issue.

[2018-04-07 21:09] #11 closed

[2018-04-07 22:27] jbkoh commented on #12
@jpsctc Could you provide more details about CHP and Thermal Store? What are the superclasses of them?

@gtfierro @jpsctc Does ``Radiator`` as a ``Terminal Unit`` sound okay? Or right under ``HVAC``?

[2018-04-08 10:40] gtfierro commented on #12
`Radiator` can be a subclass of `Terminal Unit`

[2018-04-09 17:30] gtfierro commented on #34
Thanks for the description! This makes it much clearer what you mean. I'm on board with this change. I think it really improves the consistency of how we describe these types of systems.

I think the push-back we'd get would center on whether or not you describe the piece of equipment separate from the sensors it contains. This crops up in other scenarios (e.g. if you only have "rotation frequency

[2018-04-10 04:56] jbkoh opened #41 "Mentioning the License within the ontology and its documentation"
Migrated from https://github.com/BuildSysUniformMetadata/GroundTruth/issues/8

By @GeorgFerdinandSchneider:
Dear Brick development team!

it might be helpful for people reusing BRICK to have the license mentioned within the ontology meta-data, via the dcterms:license annotation property. For example in [Turtle syntax](https://www.w3.org/TeamSubmission/turtle/):

[code]
or similarly.

[2018-04-11 05:49] jbkoh commented on #24
Closing by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 05:49] #24 closed

[2018-04-11 23:38] jbkoh commented on #41
resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:38] #41 closed

[2018-04-11 23:38] jbkoh commented on #40
resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:38] #40 closed

[2018-04-11 23:38] jbkoh commented on #34
resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:38] #34 closed

[2018-04-11 23:39] jbkoh commented on #30
I made the hierarchy as Shading System>Blind>Louver. If there are any other opinions, please create a new issue. It's included in https://github.com/BuildSysUniformMetadata/Brick/pull/42

Thank you!

[2018-04-11 23:39] #30 closed

[2018-04-11 23:40] jbkoh commented on #31
Agree that we don't need to remove this feature. Closing this.

[2018-04-11 23:40] #31 closed

[2018-04-11 23:40] jbkoh commented on #33
Resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:40] #33 closed

[2018-04-11 23:40] jbkoh commented on #27
Resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:40] #27 closed

[2018-04-11 23:40] jbkoh commented on #23
Resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:40] #23 closed

[2018-04-11 23:41] jbkoh commented on #14
Resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:41] #14 closed

[2018-04-11 23:41] jbkoh commented on #12
Resolved by https://github.com/BuildSysUniformMetadata/Brick/pull/42

[2018-04-11 23:41] #12 closed

[2018-04-26 21:31] jbkoh opened #43 "temp to temperature."
@gtfierro

https://github.com/BuildSysUniformMetadata/Brick/blob/21499092e0ad35705071ba8174e46baa9eeecd61/brick2/substances.yaml#L16

Just a quick fix: I believe ``temp`` should be changed to ``temperature``.

[2018-04-30 14:30] GeorgFerdinandSchneider commented on #37
Dear all!

I see this discussion has stalled for some month now. I would like to pick it up and see if we can contribute here.

I am part the BOT development team as well as being in contact with @jbkoh about some things in BRICK. Also I am heavily reusing BRICK in EU H2020 research project context [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1230486.svg)](https://doi.org/10.5281/zenodo.123

[2018-05-01 16:49] gtfierro commented on #37
- would we want to reconsider `brick:Zone` as a subclass of `brick:Space`? "Zone" to me means a logical grouping of space for use by some building subsystem (lighting, HVAC, fire, etc). "Space" seems important to keep then because it is a superset of that.

- Brick currently takes a stance against representing higher granularity spatial data in the model: we can basically tie equipment/spaces to w

[2018-05-30 10:41] pipauwel commented on #37
Hi all,

Great initiative to put together BOT and BRICK! I am unsure about the Zones and Spaces discussion; there are many views about this.

Let me respond to some of those other questions:

For Brick, probably the most interesting part in BOT would be the capability of describing structural components such as walls and windows. Could you detail the usage of such notions?

  *   What are the exam

[2018-06-05 09:27] mbkj opened #45 "Inconsistent use of abbreviations and capatialization"
Suggestions by SDU Student Henrik Lange

The Brick definitions contain several abbreviations:
- AHU: Air Handler Unit
- CRAC Computer Room Air Condition
- CWS: Chilled Water System
- DHWC: Domestic Hot Water System
- FCP: Fire Control Panel
- FCU: Fan Coil Unit
- HVAC: Heat Ventilation Air Condition
- HWS: Hot Water System
- HX: Heat Exchanger
- PIR: Passive Infra Red (motion detector)
- PV: Phot

[2018-06-05 15:51] gtfierro commented on #45
Much agreed! Thanks for putting this together.

There are a couple things we can do I think to help mitigate this (in order of increasing complexity/effort)
1. standardize on `Title_Snake_Case`
2. remove the names of equipment from point names: e.g. `Heat_Exchanger_Outside_Air_Temperature_High_Reset_Point` becomes `Outside_Air_Temperature_High_Reset_Point`, and can have an `isPointOf` relationship

[2018-06-05 16:45] berkoben commented on #45
QQ: Why Title_Snake?  Do the caps add anything to the meaning?  If not, why not simplify?

Agree with 2.

[2018-06-06 02:27] jbkoh commented on #45
Looks like I am late to the party. Thanks for pinning out an important issue, Mikkel.

### Answers to Mikkel's specific examples:

1. About the abbreviations:
When we originally discussed the design of Brick, I was against of using abbreviations but there were requirements that the vocabularies should be familiar with the field engineers. Some abbreviation such as VAV are obviously more prevailing

[2018-06-06 20:11] henriklange commented on #45
No matter which abbreviations are kept, the list must be available on brickschema.org, as the knowledge of abbreviations is specific to the programmer who might work in HVAC systems, electricity, be a college student or something completely different.

As per the Title_Snake_Case or simply snake_case, an argument could be made that ignoring case removes a possible error and would not break compati

[2018-06-06 21:04] gtfierro commented on #45
@henriklange Could you file a separate issue for expanding the definitions?

@jbkoh @berkoben I'm not sure I understand this:

Is the argument that we would lose the ability to apply restrictions to points that are associated with certain kinds of equipment?  I.e. if I want to restrict the relationships that dampers in AHUs can have, but not dampers in VAVs?

[2018-06-06 21:10] berkoben commented on #45
Sorry, my carats were removed...
`AHU_airflow_sensor1 <some relationship>  AHU_damper_position`
and yes, you got my point.  Though again, this is really just pedantry.  In practice it's still possible to do this, it's just becomes a special case instead of the default.

[2018-06-06 21:35] gtfierro commented on #36
Given the discussion on #45 , its worth coming back to this discussion so something can be executed and used to more effectively address the other issues that are coming up.

To summarize the above discussion, we've got the following tagset hierarchies and approaches, enumerated in order from most certain to least certain about the design

1. point hierarchy:
  - Assembling tagsets: use measuremen

[2018-06-08 10:49] pisuke commented on #29
I'd like to get this discussion higher in the list of issues to be addressed.
Luminance sensors are not needed (the term is wrong).
All the rest of changes is appropriate.
I'm happy to do the changes. What is the appropriate way: fork and do a pull request?

[2018-06-08 16:50] gtfierro commented on #29
Yep! @pisuke just fork, make the changes in the `src/` directory to `TagSets.csv`, and then run `build.sh` which will generate the turtle files. Please separate the edits to `TagSets.csv` and the execution of `build.sh` into separate commits (they can be more than 1 commit each, but please don't combine the two steps into a single commit).

Editing `TagSets.csv` is a bit hairy right now, but we're

[2018-08-21 15:10] JoelBender opened #46 "CRAC and CRAH"
I was stumbling around the TTL files trying to find out what CRAC was, finally found it, and I would like to rename `Computer_Room_Air_Conditioning` to `Computer_Room_Air_Conditioner` as an equipment class rather than something that describes a process.  In the process I found [this article](http://www.dchuddle.com/2011/crac-v-crah/) and I'm curious if there should be a similar distinction in Bric

[2018-08-21 19:36] JoelBender opened #47 "Eliminate undefined measurements"
I believe the `UndefinedMeasurement` class members are those things that use the `UndefinedMeasurment` tag, but other than that, the class doesn't seem to be useful.  For example, a battery voltage is an [observable property](https://www.w3.org/TR/vocab-ssn/#SOSAObservableProperty):
[code]
It seems odd to subdivide something undefined :-).

[2018-11-28 00:39] jbkoh opened #49 "Economizer_Mode is not a subclass of Economizer"
Economizer_Mode should be a subclass of Economizer.

[2019-01-10 14:23] cristinacarones opened #50 "Cannot access to owl:imports <https://brickschema.org/schema/1.0.3/Brick> cause it's missing the final .ttl"

[2019-01-10 16:04] gtfierro commented on #50
Thanks for the issue! Can you say more about where you're getting this error?

[2019-01-10 16:12] cristinacarones commented on #50
So when i try to import the ontology  in protegè, when i use the URI import mode , it returns me an error , cause he can't find any ontology.
i use this URI  **http://brickschema.org/ttl/BrickTag.ttl**
When i open it with the browser i correctly find it but when i use it to import in protegè it doesn't works.
Can u help me about this issue?
thank you

[2019-01-10 19:07] jbkoh commented on #50
This is probably because we do not direct "https://brickschema.org/schema/1.0.2/Brick" to its actual file, "https://brickschema.org/schema/1.0.2/Brick.ttl" in the host. We need to add the alias to the website.

Another TODO: we need to update the link to the most recent version (or remove away.)

[2019-01-10 19:30] jbkoh commented on #50
@gtfierro I just found that redirect in Hugo with Github Pages is not that easy. Do you have any ideas on it?
(ref: https://discourse.gohugo.io/t/how-can-i-create-a-redirect-for-a-non-content-file/5592/11)

This would be unnecessary once we have a new homepage though :)

[2019-01-11 14:01] cristinacarones commented on #50
Unfortunately the error in protege is not always replicable, but if you try to use an online OWL validator, like  http://mowl-power.cs.man.ac.uk:8080/validator/
you can see this error , it seems like is a connection error, but not related to the old version cause in the ttl i can see correctly the 1.0.3 version

org.semanticweb.owlapi.io.OWLOntologyCreationIOException: Received fatal alert: handsh

[2019-01-11 15:45] gtfierro commented on #50
It does seem like the online validation tool can't handle HTTPS links, and its getting some 403 error with the non-HTTPS links, which is strange. Too bad we get the Java stacktrace instead of a useful error message.

It doesn't look like we're doing most of this any differently than other people (e.g. [this rdf.ttl file](https://github.com/dvcama/LodView/blob/master/src/main/webapp/WEB-INF/ontolog

[2019-01-14 09:59] cristinacarones commented on #50
i get all the link from this page
http://brickschema.org/schema/1.0.3/

[2019-01-14 19:12] gtfierro commented on #50
@christinacarones I'm not seeing any link on that page to
http://brickschema.org/ttl/BrickTag.ttl . That link isn't mentioned in any
of the 1.0.3 schema files either, so its not clear where that link is
coming from.

Can you try adding the .ttl to the owl import statement in a downloaded
version of the Brick schema to see if that fixes the issue?

On Mon, Jan 14, 2019 at 1:59 AM cristinacarones <n

[2019-01-15 14:11] cristinacarones commented on #50
Sorry maybe i made i mistake when i wrote the first time the link anyway i have the same problem importing this link http://brickschema.org/schema/1.0.3/Brick.ttl in protege

and the problem is connection

Caused by: java.io.IOException: Server returned HTTP response code: 403 for URL: http://brickschema.org/schema/1.0.3/Brick.ttl

so i suppose is a privilege access problem do u see?

[2019-01-15 15:59] gtfierro commented on #50
I think this is a problem with the tool, because I have no problems downloading that link from other HTTP tools. You can try replacing `http://` with `https://` to see if that fixes the issue?

[2019-06-29 07:05] jbkoh opened #53 "Air is implicit in Location in common usage"
E.g., Outside_Temperature_Sensor, Zone_Temperature_Sensor.

Even though it would be explicit if they have "Air" as a tag, people will commonly miss it as Location tags commonly involve Air when they are associated with Points. I would like to investigate if it's possible to have conditional rules. I.e., When Zone && Sensor, Air is inferred.

This is not an urgent issue though.

[2019-08-06 00:22] jbkoh commented on #46
@JoelBender I feel guilty as I haven't been responsive to the Issues for a while. I would like to clean up dangling Issues in the next two weeks. The different between CRAC vs CRAH is the cooling agency and relevant controllers. Our next version can handle this without introducing new terms by expressing what substances equipment uses, so I'd like to have CRAC only. However, if there is enough con

[2019-08-06 00:22] #46 closed

[2019-08-06 00:24] jbkoh commented on #50
I am closing this one as the discussion has been inactive for a while. Please reopen it if this is still a problem.

[2019-08-06 00:30] jbkoh commented on #36
I guess this long discussion paved the way for our new version (under review) at https://github.com/BrickSchema/brick-owl-dl. I am closing this thread as most of them are reflected in the next version.

[2019-08-06 00:30] #36 closed

[2019-08-06 04:26] jbkoh opened #52 "The dashboard for 1.1.0 release discussions"
I will use this thread as a dashboard for the next release discussions. Please comment below if I missed anything. This discussion is based on the current [dev repo](https://github.com/BrickSchema/brick-owl-dl). Once most of the items below reach some agreement, we will try to reach out to other people. Then, we will pre-release the version (guess it'd be 1.1.0).

# Technical Reviews
- [x] Review/

[2019-08-08 20:47] #22 closed

[2019-08-14 18:52] jbkoh opened #57 "Update the sample data with the coming new version (1.1.0)"

[2019-08-20 22:08] gtfierro commented on #49
This is fixed in the current alpha release of v1.1.0

[2019-08-20 22:08] #49 closed

[2019-08-20 22:12] gtfierro commented on #47
No more `:UndefinedMeasurement` in the current release (v1.1.0). in the future, we may want to align our quantities classes with SSN's Observable Properties, but I'll leave that for future work

[2019-08-20 22:12] #47 closed

[2019-08-20 22:12] gtfierro opened #59 "Align Quantity classes with SSN's Observable Property"

[2019-08-20 22:14] gtfierro commented on #53
@jbkoh  What do you think about removing the `Zone_Temperature_Sensor` class, and introducing `Zone_Air_Temperature_Sensor` as a subclass of `Air_Temperature_Sensor`? We already don't have an `Outside_Temperature_Sensor`

[2019-08-20 22:26] gtfierro commented on #45
In the upcoming v1.1.0 release, we have taken steps to address the issues raised here:

- The redundant parts of Classes (née TagSets) have been removed
- Relationships between points and equips are done via the `isPointOf` relationship
- no reliance upon the lexical form of the class names

We are side stepping structured tagset generation from tags by introducing the Python structure that contai

[2019-08-20 22:26] #45 closed

[2019-08-26 03:42] jbkoh opened #61 "Subclasses of Quantity are instances of Quantity too."
After OWL reasoning, Brick.ttl assumes that all the subclasses of ``brick:Quantity`` are instances of ``brick:Quantity`` too. Please check the regenerator code: https://gist.github.com/jbkoh/37fbec75d023eff23baeee0e7c721dd0
Quantity subclasses should not be instances, right?

I am also not sure if we want to instantiate ``brick:Quantity`` as entities. I see potential usage such as provenance track

[2019-08-26 03:53] gtfierro commented on #61
Read through the section on Substances in the README: https://github.com/BrickSchema/Brick#substances we are punning substances by treating them as singletons. I think this makes the data model more intuitive. The plan is not to instantiate substances beyond the punned instances

[2019-08-26 04:30] jbkoh commented on #61
I understand that's for substances but my observation is for Quantities.

[2019-08-26 04:54] gtfierro commented on #61
Sorry! I got mixed up. Its the same principle though

[2019-08-26 05:46] jbkoh commented on #61
I see, but I found that punning isn't applied to Substances. Can you verify that? The same query does not work for Substances.

And could you point out which part of the code enables the punning? I just want to understand how it's implemented.

[2019-08-26 07:32] gtfierro commented on #61
It's a little weird  because we don't actually instantiate them anywhere, but I think I understand what's going on.

Punning is applied to both Quantities and Substances; the "pun" part is where we say that the value of a certain property is a single instance which is has the same name as the class. Loosely, this is lines https://github.com/BrickSchema/Brick/blob/master/generate_brick.py#L83-L84 i

[2019-08-28 22:44] jbkoh opened #66 "Inconsistent tag/class inference"
This is related to the PR https://github.com/BrickSchema/Brick/pull/65

I created a script to test if the tags inference is correct or not. For example, if there is an instance associated with ``Temperature`` and ``Sensor``, a reasoner should be able to infer that this is a ``Temperature_Sensor``, ``Sensor``, and ``Point``, but nothing else. ``Temperature_Sensor`` should not an instance of ``Tempe

[2019-08-28 22:51] gtfierro commented on #66
Distinguishing two classes with tags is absolutely possible, but it requires making sure the tags are coherently applied.

If you look at the definition of `Run_Status`, it is defined as being equivalent to two tags (https://github.com/BrickSchema/Brick/blob/master/status.py#L229), and thus it inherits the super class `Start_Stop_Status`. This should be better articulated so that each subtree of t

[2019-08-29 02:04] jbkoh commented on #66
I didn't use Gist because the TTL file was too large. The browser hangs. The JSON file turns out to be fine so I edited the link above. (https://gist.github.com/jbkoh/438a58d2cfb250654f2b6e15431a8a55)

I understand the structure itself has no problem with the inconsistency but the human authors are, and the testing framework should help them.

The V1 hierarchy did not assume tags subsumptions and

[2019-09-04 18:24] #66 closed

[2019-09-04 20:54] jbkoh commented on #53
Sorry that I didn't reply to this one before. Your suggestion is the most straightforward solution but I would like to discuss if there is any other solution here before concluding. The concept of Zone being measured seems prevailing, and people would use it without ``Air`` significantly including the existing systems.

I think there are two cases to solve this ``Zone_Temperature_Sensor`` (a.k.a.

[2019-09-04 21:11] gtfierro commented on #53
"Zone" temperature makes it sound like the whole zone's temperature is being measured, which isn't necessarily true. I think Zone Temperature Sensor colloquially refers to a temperature sensor in a room, and not a supply/discharge air temperature sensor.

I like removing it the best, but if we provide a Zone+Temperature+Sensor tag mapping, then we might as well include "Air" there. Future tooling

[2019-09-13 10:54] jbulow commented on #61
I assume this reaction from owlready2 when loading the Brick ontology is related:

`
* Owlready2 * Warning: ignoring cyclic subclass of/subproperty of, involving:
  https://brickschema.org/schema/1.1.0/Brick#Quantity
`

[2019-09-13 19:41] jbkoh opened #74 "Inference with measures for Classes."
I just noticed that ``brick:measures`` can determine Classes alone. For example,
[code]
Here, there are two rules: with ``measures`` and ``hasTag``. An inference engine could infer classes only with ``measures``. However, there are many sensors measuring Air and Pressure other than this.

There can be two solutions

1. Define what can be measured throughout the Sensor hierarchy. For example, ``Bui

[2019-09-13 20:43] jbkoh commented on #53
Let's conclude this one with the first solution (removing location+quantity+point.) I will open this issue until we update the implementation.

[2019-09-14 00:23] gtfierro commented on #53
Tracking the implementation of the fix in https://github.com/BrickSchema/Brick/pull/75. @jbkoh do you recall other classes that exhibited this issue? `Outside_Temperature_Sensor` doesn't exist.

[2019-09-14 00:33] jbkoh commented on #53
``Building_Static_Pressure_Sensor`` is in my mind for now. It should be ``Building_Air_Static_Pressure_Setpoint``. We'd need a more thorough look. I can take a look later today.

[2019-09-14 00:52] gtfierro commented on #53
Do you mean `Building_Air_Static_Pressure_Sensor`, rather than `_Setpoint`? I'll do a quick look for location-words in the sensor impl and push some fixes

[2019-09-14 00:57] gtfierro commented on #53
I've updated the building/zone/room related classes I found in the sensor, status and setpoint definition files

[2019-09-15 02:22] gtfierro commented on #61
Good point! That probably has something to do with it. Wish it told us what was cyclic though.

We've uncovered that owlready2 doesn't provide all of the reasoning we require. owlrl does, but it can take a few hours to actually perform the reasoning. I'm running some tests + experiments to track down what's going on with this particular issue with instantiating Quantities and hope to have news to

[2019-09-15 03:44] JoelBender commented on #61
I've been trying to reconcile this discussion with the SOSA/SSN model.  I was expecting that `brick:Sensor` would be a subclass of `sosa:Sensor`, that a `brick:Torque_Sensor` is something that `sosa:observes` torque, etc.

[2019-09-16 06:00] gtfierro commented on #61
I think that's the right way of looking at it. Our `brick:measures` would be analogous to `sosa:observes` in this case, and I like the term "observes" better than "measures".

A related question, @JoelBender: is it more common to use `rdfs:subClassOf` or `brick:equivalentClass` in these scenarios where one is describing the relationship between two "equivalent" concepts?

[2019-09-16 16:11] JoelBender commented on #74
`Static_Pressure` is an [observable property](https://www.w3.org/TR/vocab-ssn/#SOSAObservableProperty) of air, so a `Building_Static_Pressure_Sensor` is a [sensor](https://www.w3.org/TR/vocab-ssn/#SOSASensor) of `Static_Pressure` associated with a `Building`.  I don't see a `Building_Air` definition, but it would seem that it would be narrower concept of `Air` (purposefully avoiding the subclass/s

[2019-09-16 16:20] JoelBender commented on #61
(assuming `brick:equivalentClass` is a typo for `owl:equivalentClass`) It is more common to use subclass because you can't necessarily guarantee that the two classes have exactly the same individuals.  So `sosa:observes` probably can be used to observe things that brick can't measure, but I would expect that everything that Brick can measure be something that is a subclass of an [observable proper

[2019-09-16 18:35] gtfierro commented on #61
I'm trying to implement some of these fixes in https://github.com/BrickSchema/Brick/pull/76

I like that we differentiate between Substances and Quantities, but it would be useful to group both of these under an abstract "Measureable" class, which could be a subclass of `sosa:ObservableProperty`.

[2019-09-16 18:50] gtfierro commented on #59
Addressing this in https://github.com/BrickSchema/Brick/pull/76

[2019-09-17 04:23] jbkoh commented on #74
Yeah, measuring ``Building_Air`` and ``Static_Pressure`` should be the right solution, but in the current implementation most of the ``measures`` for ``Sensors`` are missing, so I was curious if we should implement everything before the release or associate the ``Restirctions`` with ``rdfs:subClassOf`` instead of ``owl:equivalentClassOf``. You opinion seems backing the idea to add comprehensive ``

[2019-09-17 06:57] jbkoh commented on #61
@gtfierro I am not sure what we can get from Quantities and Substances being instances. If we at some point want to instantiate Substances (e.g., ``ex:air1 a brick:Air.``), the query and modeling pattern would be overly complicated and inconsistent with querying for other Classes like Points. Can you elaborate what it tries to solve? I read through this thread, but still don't get it.

[2019-09-17 06:59] #53 closed

[2019-09-17 17:12] gtfierro commented on #61
No worries! It's a bit of a subtle issue. The [owl2 wiki](https://www.w3.org/TR/owl2-new-features/#F12:_Punning) has a nice discussion of it that I will adapt here.

Punning is a feature in OWL 2 that allows for a more flexible modeling strategy when it comes to classes and individuals (what OWL calls "instances" of a class). The OWL2 wiki has an example for eagles, but I'll adapt it for `brick:Ai

[2019-09-17 18:43] gtfierro commented on #74
I'm working on improving the coverage of `measures` relationships in https://github.com/BrickSchema/Brick/pull/76 (most recent commits have this done for most of the Sensor hierarchy).

I like the idea of trying `rdfs:subClassOf` instead of `owl:equivalentClass`. It has the potential of simplifying the reasoning while preserving the semantics we require.

[2019-09-18 00:15] jbkoh commented on #61
I am fine with punning itself as we already discussed. I was curious if we need to do anything inside the model for punning. As far as I understood, we don't need anything but just Restrictions, which is already included in Brick.ttl. That's why I am confused about what you are trying to modify.

I interpreted, when you said, "Operative_Temperature is a type of Temperature" as ``rdf:type`` relatio

[2019-09-18 00:23] gtfierro commented on #61
The key is its *both* `rdf:type` and `rdfs:subClassOf`. I'm making that explicit inside the Brick definition; before, you only got both statements if an entity in a Brick model actually instantiated a Sensor class

[2019-09-18 00:34] jbkoh commented on #61
Are you saying that we need this?
[code]

Maybe this part wasn't clear to me in the docs you provided. I thought we just needed to define classes while we allow associating them with instances. What is the problem with the below example?
[code]
?

[2019-09-18 00:57] gtfierro commented on #61
Nothing is wrong with that. That's specifically what we are allowing. The question I'm trying to investigate is whether or not making puns explicit helps us in any way.

The following in a Brick model is a "correct" pun

[code]

This means, however, that Substances + Quantities are only ever realized as individuals if there is another individual (e.g. `:sensor1`) of a class that has a `brick:measu

[2019-09-20 18:37] gtfierro commented on #57
Update the existing publicly released buildings to v1.1.0 from  the defunct v1.0.2

[2019-09-23 11:44] jbkoh commented on #52
Electrical_System may require a controversial concept, so I'd like to defer it for next versions.

For Lighting_System, we already included many of the discussed concepts in the past. However, I would like to correct one concept as in #77 . Other than this, we need more discussions and inputs from the experts. We'd better coordinate with ANSI C137 for more precise and complex modeling.

[2019-09-23 17:57] gtfierro commented on #74
I've written a test case to make sure that use of the `brick:measures` relationship leads to the correct inference of classes in PR #76, which should resolve this issue when it is merged

[2019-09-26 23:08] #74 closed

[2019-09-26 23:08] #61 closed

[2019-09-26 23:08] #59 closed

[2019-10-02 01:47] shreyasnagare commented on #57
@gtfierro Where are we going to keep the example building models? I'm using `./examples/models`.

[2019-10-02 02:44] gtfierro commented on #57
That should work for now. We will just need to update the README text to include that the building models are inside the `examples` directory

[2019-10-02 19:23] shreyasnagare commented on #57
@gtfierro There are a lot of classes, relationships and tags (present in the v1.0.2 example building models) that have been deprecated or are missing in `v1.1.0`. Is there a Google Doc/Sheet where we can discuss this?

Example:

| Relationship | Deprecated? | Updated to  |
|--------------|-------------|-------------|
| isLocatedIn  | no          | hasLocation |
| ***          | yes         |

[2019-10-03 16:35] gtfierro commented on #57
It would be a great idea to create one!

A large number of the deprecated classes will fall into this pattern:

[code]

gets replaced with

[code]

We remove the equipment names from the Point prefixes, and replace the old "brickframe" namespace with "brick" for consistency.

[2019-10-05 07:01] jbkoh opened #82 "Rollback removed classes without discussions"
I would like to get back all the removed classes removed without discussions. I believe the general governance of Brick would be that any change should based on discussions 1) to minimize version bumps and 2) for consensus-based changes.

For example
- Emergency_Power_Off_System (i.e. EPO)
- Electricity_Meter
- All the Alarms
- Gas_Usage_Sensor
- Louver
- Smoke related points
- Standby_CRAC

I can

[2019-10-06 18:33] gtfierro commented on #82
All of these changes were made in a PR that was approved by all parties (we even had a phone call!). I think the best way to go forward would be for you to list all of the points you want added and we can have the discussion in the PR

[2019-10-06 22:43] jbkoh commented on #82
The changes and discussions were all about the structure not specific about the classes. It is unfair to ask all the interest parties to look through two different schemata line by line. The changes have become obvious after the diff tool. Any changes need reasoning about them while there is no reasoning for most of the changes in terms of classes. The default policy should be to inherit the previ

[2019-10-10 16:42] gtfierro opened #83 "Integrate BuildingSync XSD Translation"
BuildingSync provides an XSD schema document defining many concepts related to tenants, facilities and other administrative aspects of buildings that we don't directly address yet.

It would be worthwhile to investigate how to integrate some of the BuildingSync data model into the Linked Data model we are using, and to either provide an alignment to Brick or to establish a separate BuildingSync on

[2019-10-10 16:43] gtfierro opened #84 "Integrate BuildingSync XSD Translation"
BuildingSync provides an XSD schema document defining many concepts related to tenants, facilities and other administrative aspects of buildings that we don't directly address yet.

It would be worthwhile to investigate how to integrate some of the BuildingSync data model into the Linked Data model we are using, and to either provide an alignment to Brick or to establish a separate BuildingSync on

[2019-10-22 21:58] gtfierro commented on #83
Duplicate issue?

[2019-10-22 21:58] #83 closed

[2019-10-22 22:03] gtfierro commented on #82
I agree that the policy should be to inherit the previous version. I attempted to only remove classes that were ambiguous, ill-defined or redundant, and it is definitely possible that I missed some.

@shreyasnagare in the process of handling #57 , can you make a note of classes in 1.0.3 that have no 1.1.0 equivalent? We can incorporate those into a future PR

[2019-10-25 17:49] shreyasnagare opened #86 "Incorrect hierarchy in status subclasses"
The On/Off Status hierarchy looks incorrect.

![Status Classes' Hierarchy](https://user-images.githubusercontent.com/12209457/67585095-eb47b180-f71c-11e9-964e-fa296f961d30.png)

## Problems:
- This forms the following two cycles:
  - `brick:On_Status` --rdfs:subClassOf --> brick:On_Off_Status --rdfs:subClassOf --> `brick:On_Status`
  - `brick:Off_Status` --rdfs:subClassOf --> brick:On_Off_Status -

[2019-10-25 17:58] gtfierro commented on #86
Good eye! This comes down to [status.py line 201](https://github.com/BrickSchema/Brick/blob/master/bricksrc/status.py#L201). I think it makes sense to adjust this so on_status and off_status are subclasses of on_off_status instead of the other way around. I'll submit a PR

[2019-10-25 19:51] shreyasnagare commented on #86
I was thinking the other way around for two reasons (probably a very absurd way of thinking):
- I thought On_Status and Off_Status combine to form On_Off_Status.
![Untitled Diagram (2)](https://user-images.githubusercontent.com/12209457/67599792-cb28ea00-f73e-11e9-8813-caab2ab32b52.png)

- I was expecting all the subclasses of `brick:On_Off_Status` to have the term `On_Off_Status` in it which `bri

[2019-10-25 19:58] gtfierro commented on #86
You know, this isn't a bad design either! The trick is to choose the classes so that you're not accidentally inferring "across" elements of the hierarchy. I'm working on exploring both of these designs in a separate branch. My initial idea may not work as well, but I'll push one of them this afternoon so we can take a look at it. The design you just posted is essentially the original intended latt

[2019-10-25 20:43] gtfierro commented on #86
@shreyasnagare let me know what you think of the fix!

[2019-10-25 21:11] shreyasnagare commented on #86
@gtfierro That looks great!

[2019-10-25 21:12] gtfierro commented on #86
Merged and fixed; thanks for your help :)

[2019-10-25 21:12] #86 closed

[2019-11-20 19:28] gtfierro opened #90 "Alignment with RealEstateCore"
[RealEstateCore](https://www.realestatecore.io/) is another building ontology focused on the needs of property owners and managers. It is largely complementary to Brick and both efforts could benefit from an alignment of the concepts that we both cover (primarily the Brick `Location` classes)

[2019-12-10 18:45] gtfierro opened #91 "Encode Brick root classes as disjoint"
Adding this should help avoid scenarios where a Brick relationship is misused, resulting in the unintended inference of a class beyond what is intended (see [this comment](https://github.com/BrickSchema/Brick/pull/85#issuecomment-564174503)).

Some questions:
- are there any cases where a class is part of both hierarchies? I don't believe this is (or should be) the case, but it will be good to che

[2020-01-27 22:13] gtfierro commented on #91
This is addressed in #94 .

[2020-01-27 22:13] #91 closed

[2020-01-28 16:45] gtfierro commented on #82
@jbkoh can we close this?

[2020-01-28 23:40] jbkoh commented on #82
A couple of classes above are still not defined. I will add them once we finalize the other parts of the code, and then close this one.

[2020-01-30 00:13] jbkoh opened #104 "Need a coding convention"
We need a coding convention to follow in the projects in Brick. I personally follow PEP8 with 100 chars per line for Python, but happy to settle with anything else.

I am just creating this issue for now so that we can refer to it later as a future task.

[2020-01-30 04:27] JoelBender commented on #104
[Black](https://black.readthedocs.io/en/stable/) and [Mypy](https://mypy.readthedocs.io/en/stable/) work for me, some folks include [isort](https://timothycrosley.github.io/isort/).

[2020-01-30 23:23] shreyasnagare opened #107 "Add brick:Air_Flow_Loss_Alarm"

[2020-01-31 05:20] gtfierro commented on #107
@jbkoh can you add this in your PR #103? Would be a convenient way to fix this

[2020-01-31 18:55] jbkoh commented on #107
That's a good idea. Will do.

With regards,
Jason Koh

On Thu, Jan 30, 2020 at 9:20 PM Gabe Fierro <notifications@github.com>
wrote:

[2020-02-03 15:20] gtfierro commented on #107
Fixed in #103

[2020-02-03 15:20] #107 closed

[2020-02-08 04:26] gtfierro commented on #104
[Black](https://github.com/psf/black) is nice because it doesn't have "any" configuration options, which means that we can't spend anymore time bike-shedding the Python style :). [yapf](https://github.com/psf/black) also looks good. I'd just like it to adhere to some standard, and to not deviate unless we have a good reason. Any thoughts?

[2020-02-10 06:28] jbkoh commented on #104
Thanks for the suggestions!

For formatting, I vote for Black.

There are also non-formatting conventions such as [True/False Evaluation](http://google.github.io/styleguide/pyguide.html#214-truefalse-evaluations) I don't think Black can format such things as well, can it?

So, I'd suggest to follow everything defined in Black. Otherwise, follow Google Python conventions.

[2020-02-10 16:24] gtfierro opened #109 "Incorporate classes / perform alignment with ASHRAE 205 Concepts"
https://github.com/open205/schema-205 contains a GitHub release of the standard; would be worthwhile to do the mapping

[2020-02-10 16:45] shreyasnagare commented on #104
I tried both `yapf` and `Black` and found `yapf` to produce non-deterministic results. `Black` really is uncompromising. :)

Let's go with Black.

[2020-02-10 18:00] gtfierro commented on #104
Sounds like we're going with Black. Does anyone have any issues with the implementation in https://github.com/BrickSchema/Brick/pull/106?

[2020-02-12 01:00] gtfierro commented on #82
Does #108 fix the outstanding classes for this issue?

[2020-02-12 04:19] jbkoh commented on #82
@gtfierro These seem still missing.
- Louver
- Standby_CRAC

[2020-02-12 05:05] gtfierro commented on #82
This would have been great to know for #108 :)

Can you verify that https://github.com/BrickSchema/Brick/pull/111 closes this issue?

[2020-02-14 05:57] gtfierro commented on #90
Yay! #110 is merged

[2020-02-14 05:57] #90 closed

[2020-02-14 19:02] jbkoh commented on #82
Done

[2020-02-14 19:02] #82 closed

[2020-02-14 21:11] gtfierro commented on #57
@jbkoh @shreyasnagare would you say this issue is taken care of now that #88 is merged?

[2020-02-14 21:20] shreyasnagare commented on #57
I think it is. I'll also update the sample models on the website later today.

[2020-02-18 18:35] gtfierro commented on #57
@shreyasnagare I didn't see any PR on the website to update the sample models. Could you take care of that today?

[2020-02-18 18:46] gtfierro commented on #52
@jbkoh I'm closing this issue because we've addressed all of the items raised. Continuing discussion of the final v1.1 items in https://github.com/BrickSchema/Brick/pull/93

[2020-02-18 18:46] #52 closed

[2020-02-18 21:29] shreyasnagare commented on #57
Done.

[2020-02-18 22:19] gtfierro commented on #57
Great!

[2020-02-18 22:19] #57 closed

[2020-02-19 16:25] gtfierro commented on #104
Closed with #106 being merged!

[2020-02-19 16:25] #104 closed

[2020-02-24 15:10] JoelBender opened #118 "Tag name alignment"
In Brick there is a `tag:Average` that is a `brick:Tag` with a label "Average".  In Haystack there is a `phScience:avg` that is a subclass of `ph:marker` with a label "avg".  Would it be safe to assert that the named individual `tag:Average` is also an instance of `phScience:avg` class?

In the **ph2rdf** ASHRAE 223 project the labels are language tagged:
[code]
But this is not the current `defs.t

[2020-02-24 17:00] gtfierro commented on #118
Yes, I think that's appropriate. If we were to do a ph/Brick alignment, should we work from the ph2rdf version? It looks to be more considered than the current `defs.ttl`

[2020-02-24 20:25] JoelBender commented on #118
They are two different models, the `ph:is` is overloaded to mean subclass in one case:
[code]
And something else in other cases:
[code]
So the `defs.ttl` is built from some additional content that isn't in the TRIO files.  Because we are looking at 3.X content I would expect this to change substantially, maybe when the project is moved from bitbucket to GitHub.

In the new `defs.ttl` maybe `phScie

[2020-03-21 09:49] GeorgFerdinandSchneider opened #123 "Some changes in change log 1.0.2 to 1.0.3 are missing"
Dear BRICK team,

I was migrating some components of the [MOEEBIUS ontology](https://github.com/MOEEBIUS/MOEEBIUS_Ontology/blob/master/MOEEBIUSOntology/MOEEBIUS-0.0.4.ttl) to BRICK v1.0.3. Thanks for providing the change log as of https://github.com/BrickSchema/Brick/pull/42.

Besides the mentioned changes I observed also some additional changes on some object properties, e.g.:

[code]

Potentiall

[2020-03-21 23:42] gtfierro commented on #123
Hi Georg:

Thanks for catching this! We recommend using Brick v1.1 for all migrations and integration. The ad-hoc nature of the 1.0.2 and 1.0.3 editions made them hard to maintain and debug (and thus provide more robust changelogs). Since v1.1 the changelogs should be much more complete and maintained going forward. There's additionally a [conversion tool](https://github.com/BrickSchema/Brick/tree

[2020-03-27 04:22] xyzisinus opened #124 "brick:Temperature circular definition"
Found in Brick.ttl:
[code]

[2020-03-27 17:03] gtfierro commented on #124
This is by design: all substances and quantities are "punned" ([here](https://github.com/BrickSchema/Brick/blob/master/generate_brick.py#L127) is the relevant line in the `generate_brick.py` script)

[2020-03-27 17:03] #124 closed

[2020-03-27 17:09] gtfierro commented on #118
Just making a note here that the `defs.ttl` file has been updated since we last looked, and we will need to produce a new tag alignment soon. Although we have Haystack to Brick inference in the `py-brickschema` package, we should probably produce an alignment of tags in the `alignments/` directory in this repo

[2020-03-27 17:11] xyzisinus commented on #124
Right, I remember the discussion now.  We used have problems when something like
[code]
is reported as a violation without punning.

[2020-04-03 05:50] jbkoh commented on #26
@berkoben Hey Keith, it's been a while! Hope you are staying safe and healthy. I am finally trying to close this issue. What did you end up using in your project for units?

[2020-04-03 06:15] gtfierro commented on #26
QUDT has come a long way since we had this discussion, and it's what we should probably be using

[2020-04-03 06:19] jbkoh commented on #26
@gtfierro interesting that you repeat what I said.

[2020-04-14 14:48] JoelBender opened #129 "Highest/Warmest Equivalent Classes"
The `Highest_Zone_Air_Temperature_Sensor` has an OWL equivalent class relationship with  `Warmest_Zone_Air_Temperature_Sensor` yet the former has `tag:Highest` and latter has `tag:Warmest`.  As long as a thing has both tags then I would expect it to be an instance of both types, but if it's a "highest" that does not have a "warmest" tag does the inference engine assume that (thanks to open world)

[2020-04-14 15:21] gtfierro commented on #129
This is one of those classes on our list of "these sound the same but they came from different buildings and we're not exactly sure whether or not they refer to the same concept" :)

We're unfortunately now at the stage where the Brick documentation appears higher on Google search results than some source material, but my guess is that `Highest_Zone_Air_Temperature_Sensor`  and `Warmest_Zone_Air_T

[2020-04-22 17:17] gtfierro opened #130 "Resolve On/Off, Start/Stop points"
Is there a significant semantic difference between them? If so, what is it? If not, can we combine these two families of points into a single one that is easier to use and make sense of?

[2020-04-22 17:56] fstinner commented on #130
Start/Stop can also be the start and stop of a control sequence. It depends on the context. On/Off is not as specific as Start/Stop, although both are often used in the same semantic way.

In short: related, but not the same

[2020-04-22 18:28] JoelBender commented on #130
Other old school terms are Trip/Close referring to the relay connected to some operating equipment like fans and pumps.  This is why BACnet uses specific enumerations active and inactive for Binary Input/Output/Value objects because True/False is also related, but not the same.

[2020-04-23 18:13] gtfierro commented on #129
@JoelBender what do you think of replacing `Highest` with `Warmest` and `Lowest` with `Coolest` where the points pertain to temperature? I'm thinking we might remove the `Highest`/`Lowest` variants altogether, or at least mark them as deprecated to indicate that users should use the other point.

[2020-04-23 18:19] gtfierro commented on #130
To help resolve this I'm drafting some documentation for start/stop vs on/off and also command vs status. Let me know what you think:

- `brick:Command`: A Command is a control point offering read/write functionality that directly affect the state of equipment
- (subclass of Command) `brick:On_Off_Command`: An On/Off Command controls or reports the binary status of a control loop, relay or equipme

[2020-04-23 18:30] gtfierro commented on #26
https://github.com/BrickSchema/Brick/pull/131 contains the latest strawman prototype of incorporating units into Brick. Still some work to be done, but it seems appropriate to move this conversation there, given the changes in QUDT and Brick since this original issue was raised

[2020-04-23 18:30] #26 closed

[2020-04-23 19:11] praftery commented on #129
Yes, I believe these both refer to the same thing and were simply described differently by the controls contractor on the respective sites: The zone temperature that is highest/warmest and thus driving the temperature of the cold air from the air handling unit down to it's current point.

I agree that it's clearer (to me anyway!) to change to 'standardize' to Warmest/Coolest.

[2020-04-23 20:36] praftery commented on #130
I understand the semantic difference between start/stop and on/off is the distinction between representing a command or instruction to do something (start the motor) or reporting the state of something (the motor is on). In terms of what the controller sees, that's a binary output (e.g. energize a relay controlling a fan motor) or a binary input (measure whether a contact is open or closed). Often

[2020-04-23 23:48] gtfierro commented on #129
Thanks @praftery !

Changes captured in PR https://github.com/BrickSchema/Brick/pull/133. I'll do a quick look for similar redundancies/confusions that can be rectified in the same PR

[2020-04-24 10:24] weyvogel commented on #130
Hi Gabe, here's Mingjun. I've discuessed this topic with my colleagues and found some intresting tings under Brick ontology catergories. The Start_Stop_Command is subClassOf On_Off_Command but the On_Off_Status and Start_Stop_Status are on the same level. I have considered the difference between Command and Status. Here's my opinion(see the pic)
![Command-Status](https://user-images.githubusercont

[2020-05-02 23:26] gtfierro commented on #130
@weyvogel I think your characterizations of Command (desired status) vs Status (reported status) is a good one.

Regarding `Start_Stop_Status` vs `On_Off_Status`: I think `On_Off_Status` makes sense to use to describe the current binary status of a control loop, relay or equpment activity (this is the analogous definition to the generic `On_Off_Command` definition I gave above). A `Start_Stop_Stat

[2020-05-02 23:27] gtfierro commented on #130
@praftery capturing NC vs NO for what "on" or "off" means is definitely important. I'll have to give more thought as to how we want to address that specifically; it might be an attribute of equipment or point classes?

[2020-05-07 20:19] gtfierro commented on #129
Fixed in https://github.com/BrickSchema/Brick/pull/133

[2020-05-07 20:19] #129 closed

[2020-05-07 20:20] gtfierro commented on #123
Closing for now, but please let me know if there's any followup we can do for Brick v1.1

[2020-05-07 20:20] #123 closed

[2020-05-25 07:07] GeorgFerdinandSchneider commented on #123
Apologies for the delayed response. I will look into v1.1 and get back to you. Fine to close the issue. Best,

[2020-05-25 16:26] gtfierro commented on #130
Resolving the discussion with the definitions we mentioned: https://github.com/BrickSchema/Brick/pull/132

[2020-05-25 16:26] #130 closed

[2020-06-03 21:41] epaulson opened #136 "tests failed because requests is missing (?)"
So I had a weird failure today. Fresh checkout of Brick (though a few changes to the equipment defs), Anaconda python, venv instead of conda for the virtual env. 'make test' gave me the below. Happy to ignore it and see what happens when I check in and try my PR, but in case you have any ideas, thought I'd share.

[code]

[2020-06-03 21:52] gtfierro commented on #136
Thanks for the bug report!

Thought I had fixed this, but I guess I never got around to it. Should be a one-line fix. I'll submit a PR soon and then you can merge from master and this should work

[2020-06-03 23:50] gtfierro commented on #136
Should be fixed as of https://github.com/BrickSchema/Brick/pull/138; can you try a fresh clone and try again?

[2020-06-04 17:40] epaulson commented on #136
Seems to be successful:
[code]

[2020-06-04 18:18] gtfierro commented on #136
Thanks for verifying! Closing the issue

[2020-06-04 18:18] #136 closed

[2020-06-10 20:59] gtfierro opened #139 "Finish Brick definitions"
Tracking progress of definitions in @shreyasnagare's spreadsheet:

- [x] Equipment
- [x] Location
- [x] Alarm
- [x] Command
- [x] Parameter
- [x] Sensor
- [x] Setpoint
- [x] Status
- [x] Substances
- [x] Quantitites (nearly done: https://github.com/BrickSchema/Brick/pull/131)

[2020-06-13 23:35] gtfierro opened #142 "Simplifying Parameter/Limit with Point-to-point relationships"
This thought occurred to me when I was beginning to fill out the definitions for `Limit` parameters. A `Limit` is a parameter that places an upper or lower bound on the range of permitted values of another point. You can see from the list below that there are a large number of `Limit` points that all have very similar names to the `Setpoint` points that they are about.

[code]

Having two lists of

[2020-06-14 06:37] JoelBender commented on #142
For our local vernacular, there are no limits on setpoints but there are limits defined for acceptable values of observed properties.  For example, if some "supply air" is the feature of interest and "supply air flow" is the observable property, then the "supply air flow sensor" is perhaps a BACnet Analog Input Object that provides the current value when it is read.  That same object also provides

[2020-06-16 19:34] gtfierro commented on #142
My understanding of the "limit" point labels that we've mined out of existing buildings is that they fall mostly into the camp of high/low limits on the permitted values of setpoints. It seems that Alarms and Limits have somewhat of a parallel structure in that their values are associated with the values of other Points: Limits are associated with the values of Setpoints and Alarms are associated

[2020-06-18 17:07] gtfierro commented on #139
@shreyasnagare @jbkoh we're closing in on being done with the definitions here. The two outstanding elements are the discussion at https://github.com/BrickSchema/Brick/issues/142 on parameter/limit definitions and the PR at https://github.com/BrickSchema/Brick/pull/131 for the quantity definitions. Given that both of these are under discussion, how would you both feel about closing this issue and

[2020-06-19 22:07] gtfierro commented on #139
@shreyasnagare do you have time this next week to put together a draft PR for incorporating the definitions into the Brick compilation framework? We discussed a little on the call what this might look like, but I wanted to hash the details out with you a bit more.

I have in mind something like the following:
- `bricksrc/definitions.csv`: contains a list of all of the classes (with the full Brick

[2020-07-10 18:38] #139 closed

[2020-07-10 18:39] gtfierro commented on #139
Merged https://github.com/BrickSchema/Brick/pull/143, containing the definitions!

[2020-07-11 23:50] corymosiman12 opened #145 "AHU definition != Air_Handler_Unit definition"
Hey Gabe - congrats on the 1.1.0 release!  Looking forward to going through it!

I think this is a mistake?  The definition looks like it should be for a differential pressure sensor or something...

https://github.com/BrickSchema/Brick/blob/54847b9419836fa29c21f8d7815b24f632b7ec9b/Brick.ttl#L9282-L9286

[2020-07-11 23:52] gtfierro commented on #145
Oh, good catch! I'll push a fix soon

[2020-07-11 23:53] gtfierro commented on #145
@corymosiman12 we'll be updating the website soon with the updated classes and definitions: small technical bug holding up that update for now. This repo will be up to date though

[2020-07-12 00:49] #145 closed

[2020-07-14 13:42] corymosiman12 opened #147 "v1.1.0 Definitions"
## Heat Exchanger
`A system that transfers heats between two or more fluids`

This should be more generic, as in:

`A system that transfers heat between two or more substances`

BEDES definition:
`A heat exchanger is a piece of equipment built for efficient heat transfer from one medium to another. The media may be separated by a solid wall to prevent mixing or they may be in direct contact.`

You

[2020-07-14 23:43] gtfierro commented on #147
Thanks for taking the time to go through some of these and point this out! I'll be honest that I completely forgot about BEDES when I was putting together some of these definitions --- these edits definitely make sense. I"ll propose some changes in a PR soon; I'll tag you so you can provide some feedback if you have time

[2020-07-15 05:42] heshans2020 opened #148 "Virtual Buildings Information System (VBIS)"
Hello,

Not sure if this is the right place, however I could not locate any other contact details.

VBIS is an freely available open standard that provides a comprehensive classification system for all types of assets within the built environment. It was developed with funding from the Government and is part of a couple of Government frameworks in digital asset construction and asset management. A

[2020-07-15 07:52] gtfierro commented on #148
Hi there @heshans2020! Thanks for reaching out. VBIS looks like a very relevant and interesting project and we would be interested in discussing more with you. Can you send me an email (you can find it at https://people.eecs.berkeley.edu/~gtfierro/) so we can set up a meeting? @jbkoh I'll CC you on the email thread once it is established

[2020-07-16 00:01] heshans2020 commented on #148
Hi @gtfierro ! Thanks for the reply. I just sent an email. Look forward to discussing further.

[2020-07-16 18:23] #148 closed

[2020-07-20 14:23] corymosiman12 opened #149 "Weather as subclass of Equipment?"
This doesn't make sense to me.  In BSync / BEDES, we have [Weather Station](https://bedes.lbl.gov/bedes-online/weather-station), and I know oftentimes commercial buildings have their own weather station, which I think could be considered an equipment.

[2020-07-20 14:33] corymosiman12 opened #150 "Supply_Fan and Discharge_Fan"
Should these be an `owl:equivalentClass`?

[2020-07-20 14:38] corymosiman12 opened #151 "Booster_Fan"
Should not be a subclass of `Supply_Fan`.  These can be installed in either the supply or return system, depending on where the boost is needed.

[2020-07-20 14:50] corymosiman12 opened #152 "Filter hierarchy and definition"
Your definition should probably also include the (3) definition from ASHRAE - `device to remove solid material from a fluid`.  I would then probably subclass an `Air_Filter`, then finally a `Mixed_Air_Filter`.

Might want to also consider the concepts of `Pre_Filter` and `Final_Filter`, as these are also important concepts / distinctions.  Unfortunately I didn't find a good definition for `Final_F

[2020-07-20 15:22] corymosiman12 opened #153 "Defining the difference between `System` and `Equipment`"
To me, I'm not sure I understand why all `*_System`s are a subclass of an `Equipment`.  The distinction is somewhat arbitrary.  A system to me is something made up of a bunch of interacting components, but often times what people refer to as a piece of equipment (`AHU`) is a system in a sense, it is just contained to a smaller physical location.

I'm not sure I know of a good solution, I just thin

[2020-07-20 15:58] corymosiman12 opened #154 "VFD Definition"
Currently: `An alarm that indicates a loss of water e.g. during transport`

BEDES: https://bedes.lbl.gov/bedes-online/variable-frequency-drive

ASHRAE: https://xp20.ashrae.org/terminology/index.php?term=vfd&submit=Search

[2020-07-20 16:06] corymosiman12 opened #155 "Heating_Valve and Cooling_Valve Class hierarchy"
Given that a `Heating_Valve` distinctly defines '...modulating the amount of hot water...' (similar to `Cooling_Valve`), should these not be subclasses of `Water_Valve`?  Unless the definitions for heating valve and cooling valve were changed to specify `...modulating the amount of a substance...`, which would enable them to be more generic and allow something like a `Steam_Valve` to be a specific

[2020-07-20 16:08] corymosiman12 commented on #154
I didn't realize - you actually use the ASHRAE definition already for `Variable_Frequency_Drive`, so just update to match the two.

[2020-07-20 16:12] corymosiman12 opened #156 "Variable_Frequency_Drive and VFD as subclasses of HVAC?"
There is nothing about these that inherently lend themselves to be part of HVAC.  They can be used in water systems as well.

[2020-07-20 16:15] corymosiman12 opened #157 "Direction_Command"
Currently this is the same as `Disable_Command`, which should be changed.

[2020-07-20 17:07] gtfierro commented on #147
Can you take a look at https://github.com/BrickSchema/Brick/pull/160 to see if its a satisfactory fix?

[2020-07-20 17:14] gtfierro commented on #142
Closing for now

[2020-07-20 17:14] #142 closed

[2020-07-20 17:15] gtfierro commented on #149
This is an artifact of Brick v1.0.3; I like the idea of including Weather Station instead. Weather points (which we do have) could be associated with that equipment

[2020-07-20 17:24] gtfierro commented on #149
Got a proposed fix in https://github.com/BrickSchema/Brick/pull/161 ; I'll leave it open for today in case there are any suggestions

[2020-07-20 17:33] gtfierro commented on #150
We've heard some amount of disagreement on this over the years: some people insist that these two are equivalent and others say that they are distinct concepts, but I haven't seen an authoritative reference either way. Do you have or know of one? I'd be happy to amend the definitions to match

[2020-07-20 20:33] gtfierro commented on #147
Merged #160

[2020-07-20 20:33] #147 closed

[2020-07-20 20:35] corymosiman12 commented on #150
Mine is just all through the grapevine.  It has mainly been a context perspective.  It is the 'discharge' of the current thing, but it is the 'supply' when it is to something else:
- "Air is supplied to the VAV from the AHU"
- "Air is supplied to the zone from the VAV"
- "Air leaves the AHU from the discharge duct"

Probably other people with examples as well.  I don't have too much of a strong op

[2020-07-22 17:18] gtfierro commented on #149
Fixed in https://github.com/BrickSchema/Brick/pull/161

[2020-07-22 17:18] #149 closed

[2020-07-22 17:22] gtfierro commented on #151
Good to know! The original reference I found only mentioned the supply configuration. This is a straightforward fix to Brick (https://github.com/BrickSchema/Brick/pull/162)

[2020-07-22 17:27] gtfierro commented on #152
Thanks for the issue! Took a stab at the definitions for those concepts in https://github.com/BrickSchema/Brick/pull/163

[2020-07-22 17:38] gtfierro commented on #153
Can you point to where you're seeing `System` classes as subclasses of `Equipment`? They should have been separated out into their own hierarchy as of the 1.1.0 release. Other ontologies such as SAREF adopt a much more generic approach to describing these kinds of things: an HVAC system would be a `System` just as an `AHU` or a `VAV` would be. In Brick we draw a distinction between the discrete, "

[2020-07-22 17:44] gtfierro commented on #153
Website should be updated by PR https://github.com/BrickSchema/brick-website/pull/84 when that gets merged

[2020-07-22 17:49] gtfierro commented on #154
Good catch! Fix is in https://github.com/BrickSchema/Brick/pull/164

[2020-07-22 17:58] gtfierro commented on #156
Good point. I'll also address this in https://github.com/BrickSchema/Brick/pull/164

[2020-07-22 18:06] gtfierro commented on #155
It is probably a better move to remove the "water" from the generic definition; we already have `Hot_Water_Valve` which is a subclass of both Heating Valve and Water Valve.

And really, the heating valve isn't specific to Air either. I'll need to source or derive a good generic definition for the heating/cooling valve classes

[2020-07-23 03:27] corymosiman12 commented on #155
Hey Gabe - I just looked and there is no distinct `Hot_Water_Valve`.  There is one for domestic and one for preheat.  Not sure what the right call is on making that a new distinct class, just wanted to let you know.

[2020-07-23 03:41] corymosiman12 commented on #153
Ok - those things make sense to me - thanks for the clarification, Gabe.  I have mainly just been looking at the website definitions, so that is probably true for the confusion.  I will wait for that PR to go through and will check back in a day.

[2020-07-23 18:13] gtfierro commented on #156
Fixed in https://github.com/BrickSchema/Brick/pull/164

[2020-07-23 18:13] #156 closed

[2020-07-23 18:13] gtfierro commented on #154
Fixed in https://github.com/BrickSchema/Brick/pull/164

[2020-07-23 18:13] #154 closed

[2020-07-23 22:27] gtfierro commented on #152
Fixed in https://github.com/BrickSchema/Brick/pull/163

[2020-07-23 22:27] #152 closed

[2020-07-23 22:28] gtfierro commented on #153
Website should be updated now!

[2020-07-23 22:28] #153 closed

[2020-07-27 06:35] gtfierro opened #165 "Handle Supply/Discharge Equivalencies"
Many of these will want to be equivalent classes; worth a pass through the class hierarchy

[2020-07-27 06:38] gtfierro commented on #150
I'll edit them to be equivalent for the next release (https://github.com/BrickSchema/Brick/pull/162) and will take a pass for making sure that the supply/discharge equivalencies are handled correctly in the rest of the class structure

[2020-07-27 06:58] #151 closed

[2020-07-27 06:58] #150 closed

[2020-07-30 07:20] gtfierro opened #166 "Update Reference Models to reflect Brick v1.1 Best Practices"
Thanks to the helpful conversion tool, the Brick reference models have been updated to Brick v1.1, but still have some heterogeneity in how they are put together. We need to make sure that they are representative of current best practices for Brick modelling.

A related piece of this effort would be assembling the representative system models, e.g. equipment from the G36 standard figures.

[2020-08-03 02:51] shreyasnagare commented on #165
@gtfierro Let me know if [this](https://github.com/BrickSchema/Brick/tree/test-similar-constructs) helps.

[2020-08-03 02:56] shreyasnagare commented on #166
@gtfierro I tried looking up "G36 standard figures" but found nothing relevant 🤔. What is it about?

[2020-08-03 03:38] gtfierro commented on #166
Sorry! I could have been more descriptive. I was referring to ASHRAE Guideline 36. There are some reference figures in the appendix. If you've got cycles for some development, it would be great to make a better version of https://si-wg-interact.gtf.fyi/ (click on the SVG on the left) for a few of those systems. Shoot me an email!

[2020-08-06 04:27] gtfierro commented on #155
It's really easy to add classes to Brick in a way that's minimally disruptive to the existing structure: https://github.com/BrickSchema/Brick/issues/155 fixes the missing classes that we mentioned here

[2020-08-06 06:26] gtfierro commented on #155
https://github.com/BrickSchema/Brick/pull/167

[2020-08-06 06:26] #155 closed

[2020-08-14 23:57] gtfierro commented on #165
Looking into handling supply/discharge equivalencies, it seems appropriate to make sure that the supply/discharge flavors are equivalent in the context of air handling systems.  However, I'm less clear on what the usual terms are for water handling systems: do people just talk about "chilled water supply temp", or is there a need for "chilled water discharge temp" as well? @corymosiman12 would be

[2020-08-17 21:48] corymosiman12 commented on #165
Hey @gtfierro - I have only heard of supply and return in the context of hydronic systems.  Somebody else would probably know better, but that's my $.02

[2020-08-19 21:18] gtfierro opened #171 "Additional Inference: Equip types from point types?"
For some point classes, it would be nice if Brick could infer the equipment type if a `brick:hasPoint` relationship exists.

For example, if we have an instance `a` of `brick:Exhaust_Fan_Enable_Command`, then we should know that the subject of any `brick:hasPoint` relationship to `a` is a `brick:Exhaust_Fan`.

As equipment-flavored points disappear, this will become less necessary, but there might

[2020-09-02 17:18] support-logicmatter commented on #171
Hi,

Wouldn't isPointOf do the job?
https://www.semanticscholar.org/paper/Brick-%3A-metadata-schema-for-portable-smart-building-Balaji-Bhattacharya/512577b2b1aab6ba0550178172779bb2b745d78a/figure/4

[2020-09-02 17:26] gtfierro opened #173 "Lighting C137.6 Concepts"
To be modelled or not, but these need discussion:

- *Chromaticity*: the generalized property of light representing concepts including spectrum, color temperature, correlated color temperature, chromaticity, etc. (degrees Kelvin)
- *Luminous Flux* **of a luminaire**: we model the *Luminous Flux* quantity, but don't yet have a property that associates this with a piece of equipment
- *Occupancy Met

[2020-09-02 18:17] gtfierro commented on #171
The `isPointOf` definition currently just says that the subject of the relationship must be a `brick:Point`, but the object can be an `Equipment` or `Location`. This is in line with what I'm proposing, but it's not specific enough for inferring specific `Equipment` classes based on a particular `Point` class.

I'm imagining something along the lines of

[code]

(eliding the rest of the exhaust fan

[2020-09-03 22:25] #157 closed

[2020-09-03 22:25] #165 closed

[2020-09-11 02:30] corymosiman12 opened #176 "Add Concepts"

[2020-09-14 16:48] gtfierro opened #177 "Add isSiteOf/hasSite"
We prototyped this in earlier papers (e.g. Mortar).

Goal is to include a relationship that captures which individuals in a graph are associated with a Site.

[2020-09-14 17:59] corymosiman12 opened #178 "Site vs. Building"
Currently, a `brick:Building` `brick:hasAssociatedTag tag:Site`.  Also, a `brick:Site` `brick:hasAssociatedTag tag:Location, tag:Site`.   This is confusing, since likely a building should also have the associated tag `tag:Location`, which would then make those identical sets of tags to define the same concept. So maybe switch the building tag to have a `tag:Building` instead of a `tag:Site`?

Also

[2020-09-15 15:42] corymosiman12 commented on #176
Humidity:
- [ ] Mixed_Air_Humidity_Sensor

Dewpoint:
- [ ] Exhaust_Air_Dewpoint_Sensor
- [ ] Discharge_Air_Dewpoint_Sensor
- [ ] Zone_Air_Dewpoint_Sensor

[2020-09-16 15:50] s0301132 opened #179 "Add entity"
Hi @gtfierro!
I'm building a brick model for a building with brick version 1.1, and there are some missing point/ equipments which I want to add:

Energy meter: using chilled water supply/ return temp and flow rate to calculate how many energy(heat) absorb by water.
EC Fan: Electronically Commutated Fan
PA/ PAU: Primary Air/ Primary Air Unit [https://sites.google.com/site/hvacsystemsvariety10/prim

[2020-09-17 17:43] gtfierro commented on #179
Hello! Thanks for taking the time to file an issue. I had a couple questions about the concepts you are trying to add.

Energy meter: we are still working on how we want to capture the computational dependencies for this kind of "virtual meter", but for now you can use [Energy Sensor](https://brickschema.org/ontology/1.1/classes/Energy_Sensor) to represent the actual data stream. You can optionall

[2020-09-17 19:28] shreyasnagare commented on #177
@gtfierro Given that they imply the physical location of an instance, having a more restricted domain/range (`brick:Site` - subclass of `brick:Location`), could they be sub-properties of the location relationships? The implied asymmetric and irreflexive nature would also go well with the site relationships. Does [this](https://github.com/BrickSchema/Brick/compare/add-site-relationships) make sense

[2020-09-17 22:01] gtfierro commented on #177
I like the solution! Encoding that as a subproperty should work great. Feel free to turn that into a PR and we should be able to merge it pretty soon.

[2020-09-18 11:09] s0301132 commented on #179
Hi, thanks for answering me the questions.

For now I can use Energy sensor for virtual meter, may be add a tag to identify those meter as computational dependencies?

For EC fan, now I just use brick:Fan to represent it, there are two types of fan in the building: AC and EC fan so may be add a brick tag to identify those fan?

PAU (Primary Air Unit) is a type of AHU, use to pre-treat the outdoor

[2020-09-18 19:24] gtfierro commented on #176
Thanks for the suggestions! I'll make a note of these and we should be able to incorporate them soon

[2020-09-18 19:31] gtfierro commented on #178
Good catch! `Building` should definitely have the `Location` tag as well.

We will include a definition for Site in an upcoming PR. The idea is to have a `Site` be a geographic region which may or many not include one or more buildings; this would be the highest-level grouping of locations in Brick

[2020-09-18 20:20] corymosiman12 commented on #178
Cool - that aligns with the containment hierarchy we have in BuildingSync (although we have one additional level of 'Facility'), but seems good.

[2020-09-18 22:26] gtfierro commented on #179
Let me give some thought as to how to best address the first two items, but I have put PAU on the list of classes to be added soon! You can use `brick:PAU` in your models for now.

[2020-09-19 09:06] s0301132 commented on #179
Thanks! @gtfierro

[2020-09-22 03:03] #178 closed

[2020-09-22 03:28] gtfierro opened #183 "Adding/Refining More Concepts"
The following concepts have been requested from Brick users and/or uncovered in conversations about Brick as not appearing in the class hierarchy yet. This is both a set of directions for @KiithNabaal and also a chance to iterate on documentation for how to add concepts to Brick.

For each of the concepts below, the task is to:

1. determine if the concept belong in Brick or not -- if it is out of

[2020-09-22 03:31] gtfierro commented on #176
Tracking progress in #183

[2020-09-22 20:51] KiithNabaal commented on #183
To familiarize myself with these concepts, I am going to start by looking over the ASHRAE and BEDES terminologies (although less so for BEDES since it is 26 pages long). A lot of these things are unclear to me.

Then I will proceed to check for duplicate concepts in Brick and then move on sequentially with the rest of the tasks.

[2020-09-23 11:18] s0301132 opened #184 "Add main header pipe concept"
Hi @gtfierro, our chilled water system have 6 chillers and supply chilled water to two buildings, 6 chilled water pipes fed water to a big pipe call main header pipe, can I add an entity call `Main_Header_Pipe` to brick model? Thanks!

[2020-09-23 22:05] quest-gmulcahy opened #185 "Real Estate Core Released 3.2 Desire to Update?"
I don't have any association or familiarity with the RealEstateCore alignment. There seems to be a 3.2 release. I'm not sure if there would be anything breaking, but wanted you to be aware:

https://doc.realestatecore.io/3.2/full.html

[2020-09-25 18:53] gtfierro commented on #185
Thanks for the heads up! We will definitely take a look at REC 3.2 and update our mappings accordingly (making sure to preserve our mappings for previous versions)

[2020-09-28 00:36] gtfierro commented on #28
Closing this discussion now for inactivity, but if anyone is interested in investigating how to add more electrical domain concepts to Brick please let me know!

[2020-09-28 00:36] #28 closed

[2020-09-28 00:37] gtfierro commented on #29
Closing this issue for now to reflect the work that has been done on adding Lighting concepts to Brick (not that we're done :)). Please continue this conversation in https://github.com/BrickSchema/Brick/issues/173

[2020-09-28 00:37] #29 closed

[2020-10-01 18:16] gtfierro commented on #179
@s0301132 we are in the progress of adding `brick:PAU` (track progress in https://github.com/BrickSchema/Brick/issues/183 until we finish putting the PR together). If you add the following lines to your `ttl` file, you can use `brick:PAU` in your own models:

[code]

The question about how to annotate the type of power source of an equipment such as an EC Fan turns out to be a deep one! I don't kn

[2020-10-05 15:40] KiithNabaal commented on #183
cfc82c8d740b9ce3132ee3f577d9dcc09a7a2ce1

If you can take a look to make sure I am adding things correctly, and sensibly, that would help a lot. The task seems pretty straight-forward so I think this shouldn't take _too_ much longer.

I will also be sure to commit each concept I add, and then list it as a comment here outlining the reasoning behind how/why I added it.

[2020-10-05 15:59] gtfierro opened #187 "QUDT Unit Extensions for HVAC quantities"
In the process of using QUDT for units in Brick, a few gaps have emerged for HVAC specific units:
- Cooling Tower ton (15k BTU instead of 12k BTU for a refrigeration ton) [one source](https://jmpcoblog.com/hvac-blog/cooling-tower-and-condenser-water-design-part-3-understanding-tonnage-range-and-approach)
- kW/ton (e.g. for chiller efficiency)
- Boiler horsepower (33475.36 BTU/hr)
- this list may g

[2020-10-05 18:09] KiithNabaal commented on #183
As per the call with Gabe, we don't need to add electrically commutated fan as equipment _in this issue_.

[2020-10-05 19:23] praftery commented on #187
Re: MBTU/hr, kBTU/hr, MBH, MMBTU/hr: these are commonly used for heating systems in the US - boilers etc. I'm guessing (?) that the 'M' prefix here comes from the Roman meaning (1000) instead of the SI 'M' prefix for mega (1000000).

- MMBTU/hr = 1,000,000 BTU/hr
- MBTU/hr = 1,000 BTU/hr 
- MBH = 1,000 BTU/hr (the above, but common abbreviation)
- kBTU/hr = 1,000 BTU/hr  

Note that for each of th

[2020-10-06 19:58] gtfierro commented on #184
Hi @s0301132 . You are welcome to define a `Main_Header_Pipe` class in your own Brick model that extends the Brick hierarchy. We don't currently have plans to instantiate ductwork/pipes/other connections inside Brick yet, but you can certainly add these yourself for now. We would definitely be interested in learning more about your experiences adding those. I think it is safe to create a `Connecto

[2020-10-06 22:20] gtfierro commented on #187
I talked to Steve from QUDT and he pointed me to [this page](https://github.com/qudt/qudt-public-repo/wiki/Support-for-measures-of-absolute-values-and-for-intervals-(differences)) which describes how to handle the differential values. What it boils down to for us is we need to associate the `qudt:isDeltaQuantity` property with the Brick quantities that are deltas; this annotation wil ltell us whic

[2020-10-07 16:35] s0301132 commented on #184
Thanks! @gtfierro, I added the main header pipe to my brick model and connect the cooling tower and chiller.

[2020-10-08 03:29] danhugo opened #188 "Represent electrical metering points"
The Brick schema v1.1 has some electrical metering Points, but is unable to precisely represent all cases due to insufficient specialisation of types. This makes it difficult for software to discover points in models and unambiguously know their specific meaning without any additional context. Rather than simply say "add these points", I would like to pose the problem in terms of the following que

[2020-10-08 04:56] JoelBender commented on #188
Choice (5) reminds me a lot of the Pizza ontology; you must have a base (power sensor), some toppings (import as a consumer, export as a producer) and maybe you can't have both peppers and mushrooms (Single_Phase and Three_Phase).  I'm not convinced it would simplify ontology maintenance _or_ model construction because the only difference is if the combination of restrictions has a name like Singl

[2020-10-08 07:33] danhugo commented on #188
@JoelBender sure, I get that (although I think it's safe to disregard nonsense permutations in a pizza-ified scheme, since they shouldn't appear in the wild anyway). But I ask the question about (5) because if it turns out we need to allow for just one more binary parameter, then we balloon to almost 100 new classes _just for electrical metering_, and that seems like a lot.

[2020-10-08 07:38] danhugo commented on #188
6. If we actually require dozens of new classes, do we attempt to place them under any kind of hierarchy?

[2020-10-08 23:48] KiithNabaal commented on #183
ea872836d6a260f81c966405dc5cd557fb91d912 has particulate matter sensors added, and CO/CO2 sensors refactored into particulate matter sensor

[2020-10-09 00:11] KiithNabaal commented on #183
a1f8c9b75a5ce3bbdfd4146e107e05f589e63f3f - return air temp low/high reset setpoint

[2020-10-09 00:36] KiithNabaal commented on #183
ff1d14c15b65bcccbd2fb12bfab8a174c1b1e1b4 - hot water return temp setpoint

[2020-10-09 04:11] KiithNabaal commented on #183
9ee93cee8c85bbd4f5afcc24afa76c7c3207cec5  - discharge/mixed/return/etc air humidity setpoint

[2020-10-09 04:17] KiithNabaal commented on #183
Something I noticed with the air substances and humidity sensors is that the air substances all have gas, fluid and air tags but the corresponding air sensors only have the air tags. Ex: discharge air substance doesn't have the same tags as the discharge air humidity sensor. Why is this? I could understand perhaps gas not being present, but why not fluid?

[2020-10-09 04:23] KiithNabaal commented on #183
88291fcdb8a349d56f6e121cb99b6ce255c886fb - Mixed air humidity sensor

[2020-10-09 04:25] KiithNabaal commented on #183
mixed air humidity sensor is listed twice for points - was something else intended?

[2020-10-09 04:26] gtfierro commented on #183
@KiithNabaal substances and points have different sets of tags to differentiate them as concepts. `Discharge Air` as a concept has the `Fluid`, `Gas` tags because it is a substance. `Discharge Air Temperature Sensor` has the `Temperature` and `Sensor` tags because it is a sensor that is measuring the temperature quantity

[2020-10-09 04:26] gtfierro commented on #183
@KiithNabaal regarding mixed air humidity sensor, just make sure it has sensible siblings (e.g. discharge air humidity sensor, etc)

[2020-10-09 04:30] KiithNabaal commented on #183
@gtfierro What was the line we had added to the Makefile to ignore things like output.ttl if you remember? At one point earlier in the week I did a hard reset when I was trying to debug, but forgot to keep that portion of the code...

[2020-10-09 04:33] gtfierro commented on #183
I don't think we added anything to remove the ttl file. Instead we added 'definitions.csv' to the dependencies for the 'Brick.ttl' target

[2020-10-09 05:12] KiithNabaal commented on #183
92473cb2c824b96406ee07149cb058d7b617c3bc
6e280e872a85eb7f61ad670bc97069651c490d4b

hot/chilled water supply temp setpoint (two commits because I hadn't realized I had changed the setpoints.py file when adding the descriptions.csv dependency)

[2020-10-09 05:32] KiithNabaal commented on #183
25179100697f3f8752e757fb24f62b211a502a02 - exhaust/discharge/zone air dewpoint sensor

[2020-10-09 05:54] KiithNabaal commented on #183
32c4e66c8c4ba863ca847288ee012f2febfeaf8d - supply air temperature setpoint (equivalent to discharge air temperature setpoint)

[2020-10-09 06:33] KiithNabaal commented on #183
a4392f7dddd78af55558eaa498481063e805c72f - add pump vfd, fan vfd

[2020-10-09 06:34] KiithNabaal commented on #183
todo for points:

- intake air temp/humidity sensors: associated w/ AHU; make sure to update OAT
sensor docs to indicate it is not intake air
- valve position sensor -- status for read-only?
- fan/pump flow relative output? percentage of max speed, proportion of
currently active units
- min/max air/water temp setpoint limit (this one I should be able to add, but the other ones I will need clarific

[2020-10-09 16:02] KiithNabaal commented on #183
ed855907121242049a714db47d496fb4e9073e3c - differential pressure bypass valve

[2020-10-09 17:34] KiithNabaal commented on #183
105ad27418cbb6c4a0a5cbf44e2c63fd33e44d8c - intake/return air filter

[2020-10-09 21:33] gtfierro commented on #188
Thanks @danhugo for filing the issue, and I think the existential questions posed are exactly the right ones.

First, I would offer that there are maybe a couple other parameters to consider (in bold -- added from the other comment on the Google Groups thread in reference to AEMO's meter data format)
- integration (power/energy)
- complexity (real/reactive/apparent)
- flow (import/export/net)
- ph

[2020-10-10 00:02] david-waterworth commented on #188
I posted [this](https://preprod.aemo.com.au/-/media/files/stakeholder_consultation/consultations/nem-consultations/2019/5ms-metering-package-3/final/standing-data-for-msats-final-clean.pdf) on the original discussion - it's the schema AEMO use to represent physical meters. The `CATS_METER_REGISTER` is the core entity. There's a whole bunch of fields which may be necessary in some cases - i.e. many

[2020-10-11 05:05] gtfierro commented on #188
Thanks @david-waterworth for reposting this here!

I like the idea of being able to identify the "quality" of the data. This might be a good candidate for a property of an instance --- perhaps even for instances that are Point classes but aren't meters --- but I'm not sure I have a good reason *why* it would be a property of an instance rather than a new class :). I like the idea of using properti

[2020-10-11 06:34] david-waterworth commented on #188
Hi Gabe

I'm not sure the term integration is in the document, but what's referred two as a 'basic' meter is an accumulator style meter. In order to obtain the consumption between two reads you have to subtract the readings  - so this is sometimes called integrated because you have to difference the series. Chiller energy consumption is sometimes an accumulator style. It's more robust if there's a

[2020-10-14 17:15] KiithNabaal commented on #183
7b75090d2908e6d1549097b8864ec51435bb2956 - radiators

[2020-10-14 17:57] KiithNabaal commented on #183
fc9d3df0c7f41265b99ded2151978303c3b728fa - Added PAU

[2020-10-14 18:18] KiithNabaal commented on #183
Hey @gtfierro , I have a few questions on the last sensors:

- _intake air temp/humidity sensors: associated w/ AHU; make sure to update OAT
sensor docs to indicate it is not intake air_ What are the OAT sensor docs?

- _valve position sensor -- status for read-only?_ Can you elaborate on "status for read only"?

- _fan/pump flow relative output? percentage of max speed, proportion of
currently ac

[2020-10-14 23:29] gtfierro commented on #183
Hi!

The OAT Sensor docs are the definitions in `definitions.csv`. Thinking about this again, I think we should have `intake air temp sensor` as a subclass of `outside air temp sensor`, with the definition pointing out that an intake air temp sensor is measuring air at the interface between the building and the outside.

You can ignore the `valve position sensor` for now....I'll try to dig up my n

[2020-10-15 16:13] KiithNabaal commented on #183
c4ab3fdb92b2b54f56c7fbaeb20d3370e1830204 - intake air temp sensor

[2020-10-15 16:48] KiithNabaal commented on #183
beff1a7ae61bdbff1677efd7653404210cd3861d - Min/Max setpoints for air and water temperature

[2020-10-16 02:25] KiithNabaal commented on #183
@gtfierro

Hey Gabe!

I am trying to add the controller class:

define_classes(controller_subclasses, BRICK.Controller)

When Brick is generated, it looks like BRICK.Controller is not created as an OWL Class in the test.ttl file, and I am getting an error in test_subclasses in test_class_structure because the SPARQL query is returning Brick#Controller. I tried looking at other classes to see if I

[2020-10-16 16:16] gtfierro commented on #183
It looks like `Controller` isn't actually declared as a root class or as a subclass of an existing class; using it as the second argument in `define_classes` isn't sufficient. You can see when we use `define_classes(<dictionary>, <parent class>)` in `generate_brick.py`, the `<parent class>` is already defined in the class structure (e.g. look at https://github.com/BrickSchema/Brick/blob/master/gen

[2020-10-18 04:13] #177 closed

[2020-10-20 11:09] JayDub69 commented on #188
Hi @gtfierro - Interesting topic and great to hear this is being looked at!

Suggested parameters in the context of energy and power that @danhugo and I have come across while attempting to model data from over 600 electrical meters (billing meters and sub-meters) across our organization in Australia include:

- Complexity (real/reactive/apparent)
- Flow (import/export/net/absolute)
- Phase (singl

[2020-10-20 16:43] gtfierro opened #189 "Nameplate / Cutsheet / Scalar Properties of Brick Entities"
Need to discuss how to model these kinds of scalar properties, which may be associated with specific types/makes/models of equipment, but due to scalar values may not make sense as a new subclass.

Location examples:
- sq footage (gross, net)
- volume
- R factor

Equipment examples:
- max rated power/speed
- mode sensitive limits

**We should begin bootstrapping the list of properties that we woul

[2020-10-20 16:47] gtfierro opened #190 "Location Modeling"
This has a few main parts:

1) ensure that the mapping with BOT is sensible and up to date with the Brick v1.1 locations
2) produce documentation outlining idiomatic use of Brick v1.1 location classes
3) decide how to attach "use cases" to locations in the Brick model, e.g. classroom, laboratory, office, etc. There are some existing location use cases in some ASHRAE standards that we can use to bo

[2020-10-20 17:09] gtfierro opened #191 "Units Documentation"
Need to provide some good documentation on how units work in Brick, with examples of usage and some basic integration of the units data model with supporting tools like py-brickschema.

[2020-10-21 19:20] KiithNabaal commented on #183
Hey @gtfierro !

So I refactored the code to include the Controller parent class as a tag in the dictionary in equipment.py. I am past the original error, but am now getting an error indicating a loop in the hierarchy. Since we currently don't know what we want to do with Controllers, should we worry about it for this issue? If not, I can create a pull request and merge if everything looks good.

[2020-10-21 21:55] gtfierro commented on #183
Sure! I've got time 12-5pm EST; send me a calendar invite and we can go through it. Can you push your latest code so I can take a look as well?

[2020-10-22 01:07] KiithNabaal commented on #183
Thanks a lot! Would 3:30 pm EST be fine?

Here is the latest commit:
2d551e5b2cedc9ade41831e287d1ac439a6a651e

[2020-10-22 03:30] gtfierro commented on #183
Yep! That works fine

[2020-10-28 21:54] gtfierro commented on #183
Fixed in #192

[2020-10-28 21:54] #183 closed

[2020-10-28 21:54] gtfierro commented on #176
Addressed in #192

[2020-10-28 21:54] #176 closed

[2020-10-28 21:55] gtfierro commented on #179
Added PAU in #192

[2020-10-29 01:31] corymosiman12 commented on #176
thanks dudes!

[2020-10-30 21:21] gtfierro commented on #190
This topic was discussed during the Brick dev meeting today, and currently we are moving forward with a design that uses OWL classes to denote different types of spaces (categorized by use). Multiuse rooms are modelled by having a Space instance have multiple Space types. We should hopefully have a prototype soon

[2020-11-08 21:16] gtfierro commented on #189
An alternative design:

[code]

which could also be written as

[code]

[2020-11-12 05:41] gtfierro commented on #191
Working on some documentation, hosting the beta documents [here](https://beta-docs.brickschema.org/intro.html). @epaulson @jbkoh @shreyasnagare let me know what you think so far (the units documentation is specifically [here](https://beta-docs.brickschema.org/brick/timeseries.html)).

I'm working on making the code snippets executable so that the documentation can be interactive. Imagine if I ment

[2020-11-12 23:43] Reapor-Yurnero commented on #189
Here's a list of scalar properties that I can think of so far:

Brick:Room <- Area, Height, Capacity, Volume(somehow redundant but might be valuable in some sense)Brick:VAV (probably also other terminal units), Brick:Fan, Brick:AHU <- Maximum CFMBrick:Equipment <- Rate Power (mostly applicable)Brick:Filter <- CADR rating (for indoor room-level air-purifier)
For most Brick:Equipment, I believe ther

[2020-11-23 23:05] gtfierro opened #197 "Chiller Plant Modeling"
This issue will track progress/discussion on augmenting the set of chiller plant-related concepts defined by Brick

Required Points:
- [ ] Chilled Water Entering Temperature Sensor (w.r.t. evaporator?)
- [ ] Chilled Water Leaving Temperature Sensor (w.r.t. evaporator?)
- [ ] Chilled Water Flow Sensor (w.r.t. evaporator?)
- [ ] Entering Water Temperature Sensor (w.r.t. condenser)
- [ ] Water Temper

[2020-11-24 00:57] david-waterworth commented on #197
I'll add to these as I identify but I'd categorize into systems/subsystems and then equipment and then identify the points. The main thing to work out is how to represents the flow in/out of each equipment (a chiller or cooling tower) and the aggregate flow (i.e. there may be three cooling towers each of which have inlet/outlet water temperature, the water from each is combined and return to the c

[2020-11-24 21:49] david-waterworth commented on #188
One thing I would add in the Australian context is a NMI isn't a meter, it's the ID of a connection point. I see them as separate concepts and it's of benefit to model them explicitly. A connection point in the AUS market represents where energy changes ownership (generation to transmission, transmission to distribution, distribution to site etc). There is/are physical meter(s) associated with the

[2020-11-26 04:54] david-waterworth commented on #197
I've attached a CSV file containing a list of chiller points I've identified (over 600+ chillers). I'm sure it's still not exhaustive - that's still only a tiny % of chillers in Australia!

I've identified where there's an existing Brick point, and if not suggested one which seems to align with the current taxonomy. Some of them are more esoteric than others, and a number may be "Australian" in na

[2020-11-29 03:24] david-waterworth commented on #197
Chilled_Water_Pump should have subclasses Primary_Chilled_Water_Pump and Secondary_Chilled_Water_Pump.

[2020-11-29 03:39] david-waterworth opened #198 "Split Systems"
Split systems are relatively common, even in large buildings that have central heating and cooling (ie for meeting rooms). There are a number of such systems, generally the appear to be characterised by an "outside" unit connected to one or more "inside" units - see discussion "VRV systems" on the forum for more context. Concepts I've come across are "split systems", "multi-split systems", "VRV's"

[2020-11-29 03:47] david-waterworth opened #199 "Thermal Energy Meter"
There's a Thermal_Power_Sensor in the Point taxonomy but I don't see a Thermal_Power_Meter in the Equipment taxonomy. They're the same concept but the former can be used on an Equipment that reports thermal power as a telemetry point (i.e. a chiller with a BACnet controller or HLI), the latter is required in cases where a stand-alone thermal power meter has been installed, in the same way an elect

[2020-12-01 16:20] praftery commented on #197
There is also a related issue here (as highlighted in the VRV discussion on the forum). There are so many different kinds of equipment that are heat pumps. Depending on the size, application, whether or not they are reversible, what the source and load sides are, they are all called different things in the industry. 

To make this as generalizable as possible, should we have a parent class of 'Hea

[2020-12-01 19:37] gtfierro commented on #191
@shreyasnagare what do you think is the best way to get this integrated with the current website? The Jupyter book itself is a set of static files that can be easily served; it does need to be "compiled" by running a `jupyter book build` command. I like the idea of hosting it on the docs.brickschema.org subdomain so that it can remain stylistically separate, but we would need to link to it from th

[2020-12-01 19:52] gtfierro commented on #191
I've pushed the documentation source to https://github.com/BrickSchema/docs

[2020-12-01 20:08] gtfierro commented on #179
I think that concepts like the EC fan might be better handled by instance metadata such as what is being discussed in https://github.com/BrickSchema/Brick/issues/189. Virtual meters should be part of the discussion at https://github.com/BrickSchema/Brick/issues/188, and I've made a note of it to account for them in the discussion. Closing this issue for now

[2020-12-01 20:08] #179 closed

[2020-12-01 20:09] epaulson commented on #191
I like adding 'Docs' to the top of the navbar, probably after "Getting Started" and before 'Resources. If we're worried about running out of navbar space, maybe we fold 'Blog' under "Community" or "Getting Started"

[2020-12-01 20:23] gtfierro commented on #191
I like the suggestion! I added Docs before Get Started for now because I couldn't figure out how to get the autogenerated navbar to interpose an external link, but once https://github.com/BrickSchema/brick-website/pull/91 is fixed and merged then we should be good to go.

[2020-12-01 21:09] shreyasnagare commented on #191
Merged. The changes are [live](https://brickschema.org/).

[2020-12-01 21:30] david-waterworth commented on #197
I agree. After I mentioned in the VRV thread that I thought it would be unusual to return VRF's when asking for chillers, I then realised it would be nice to invert it - i.e. be able to answer the question "what thermal machine is providing the heating/cooling in this building".

[This](https://www.environment.gov.au/system/files/energy/files/hvac-factsheet-heat-pump-tech.pdf) factsheet also uses

[2020-12-01 21:54] epaulson commented on #189
I'm not a fan of option 2, and would rather us start with option 1, sticking with a set of scalar properties to add into our class hierarchy. It seems like that's on the path towards option 3 (which Brick arguably already has - like I think you could write this today:
[code]
There's just not a lot interesting things in Brick that you can say and put into that blank node today, but you could say ot

[2020-12-01 23:33] gtfierro commented on #191
Thanks all!

[2020-12-01 23:33] #191 closed

[2020-12-01 23:47] gtfierro commented on #198
Thanks for the issue! #197 should hopefully address the concepts that are used here. Two mutually compatible modelling options immediately available to us are:

- connect "outer" components to "inner" components using `brick:feeds`
- have a "collection" component (e.g. the VRV) which consists of the "inner" and "outer" components. This is similar to how we model AHUs now: the AHU `brick:hasPart` s

[2020-12-01 23:48] gtfierro commented on #199
Thanks for the catch! I should be able to add this in a future PR

[2020-12-02 00:35] gtfierro commented on #189
I like Option 3 the best as well: we can introduce a principled set of ObjectProperties and DataProperties that convey the semantic relationship between the entity and the property itself. If the property is itself a blank node, then it can easily have additional metadata properties attached.

Cool to see the old discussion on the schema org repo. The ontology design points are fairly well known;

[2020-12-02 01:40] gtfierro commented on #188
Hi all:

Apologies for being away from this discussion, but I put together a little prototype that should serve as a nice strawman for moving the discussion forward. I'm borrowing some of the ideas we are discussing on the https://github.com/BrickSchema/Brick/issues/189 issue about instance metadata

[code]

How to express peak yearly demand:

[code]

How to tie this into a meter entity:

[code]

[2020-12-02 02:34] david-waterworth commented on #188
@gtfierro [this](https://preprod.aemo.com.au/-/media/files/stakeholder_consultation/consultations/nem-consultations/2019/5ms-metering-package-3/final/standing-data-for-msats-final-clean.pdf) may help although it's not overly accessible.

Section 2 for example describes the 5 tables the market operator uses. In particular, there will be one entry in `CATS_NMI_DATA` for each NMI, and 1 or more in `C

[2020-12-02 19:04] clbouvier commented on #197
I agree that the heat pump as parent class is relevant.
However, I would specialize the classes below the 'heat-pump' parent class into 2 another classes according if the equipment can produce heating or cooling or both at the same time:
* 'cooling' or 'heating' system
* 'cooling' and 'heating' system

In the first class, we could split again into:
* 'only cooling'
* 'only heating'
* 'reversible'

[2020-12-04 18:45] jbkoh commented on #189
I like the approach of having blank nodes to represent scalar quantities in general. However, I'm not sure if the intermediate properties are usable. Basically we are putting what the value would mean in two places as the property (`hasGeometry`) and the value's class (`GrossArea`). Two issues get me concerned.

- Those intermediate properties became redundant, which would reduce the usability and

[2020-12-04 18:55] gtfierro commented on #189
Note that the use of blank nodes is just a convenient notation; these could easily be first-class NamedIndividuals as well.

In the current model, the property type (I think this is what you mean by "intermediate property"?), e.g. `brick:GrossArea` would likely be an instance of `brick:Quantity` in order to line up with how our Sensor types measure instances of `brick:Quantity` (e.g. a temperature

[2020-12-04 19:05] jbkoh commented on #189
Yeah, we can introduce the hierarchy if it turns out necessary.

Another alternative to to keep the `Quantity` structure, we can also do `hasPoint` or `hasScalarProperty` and then have `GrossArea` quantity values like
[code]

I don't have a strong opinion on either one over the other, but would like to avoid redundancy. (Of course, either subclasses or subproperties hierarchies are fine.)

[2020-12-05 00:21] corymosiman12 commented on #197
To address David's question regarding plants, I think it's safe to say that modeling of loops should be considered.  Probably a base loop class, condenser loop, chilled water loop, hot water loop, etc.  The EnergyPlus documentation honestly does a really good job of describing the concepts: https://energyplus.net/sites/all/modules/custom/nrel_custom/pdfs/pdfs_v9.0.1/PlantApplicationGuide.pdf

[2020-12-10 05:11] gtfierro commented on #189
In the interest of moving this forward, I took a stab at a prototype to see how it might look. I decided to introduce a hierarchy of `EntityProperty` classes, related to Brick entities with a `brick:hasProperty` property --- this is how a similar structure is being defined in 223P so it is in our interest to take a similar approach.

The hierarchy is thus. The immediate subclasses are:
- `Physical

[2020-12-10 05:13] gtfierro commented on #188
Hi all! I'm working on a prototype of how to address these kinds of properties (I'm calling them EntityProperties for now), and I posted about it on a different issue https://github.com/BrickSchema/Brick/issues/189 . I took a stab at incorporating many of the electrical metering point properties discussed above. Please take a look and let me know what you think! There's an example at the bottom of

[2020-12-10 22:02] epaulson commented on #189
I think I need to learn more SHAC, and you note that this is still an open question but I'm nervous about adding in SHACL inferencing. Lots of triple stores support OWL inference rules - is SHACL well-supported?

On Virtual properties - it's common for some quantities to be measured physically and othertimes be computed, and for that to be different depending on the meter - like for the same prope

[2020-12-10 22:13] gtfierro commented on #189
We can likely express many of the SHACL constructs I'm using here with OWL (I'm not using anything too fancy), but I do think that the SHACL expressions are easier to read than their equivalents in OWL.

I'm also open to rejiggering the organization of the EntityProperty classes. It all comes down to what we think a decent organization is: maybe virtual properties should only be properties of the

[2020-12-10 22:19] epaulson opened #201 "nightly builds are timing out"
The nightly build started timing out about 10 days ago.

Pip released a new version about 10 days ago with a new resolver:
http://pyfound.blogspot.com/2020/11/pip-20-3-new-resolver.html

Perhaps related?

[2020-12-11 16:37] epaulson commented on #189
Option 2 is like extreme database normalization, and I think errs a bit too far away from developer-friendliness. I'm not dead-set against it, it just feels like it needs a lot of extra hops in the query.

[2020-12-11 16:49] epaulson commented on #201
The change of ubuntu-latest to 20.04 started on the very same day:
https://github.com/actions/virtual-environments/issues/1816

but it doesn't look that runner change has rolled out to Brick yet - the logs look like the past few days are still running on 18.04

[2020-12-11 16:58] gtfierro commented on #201
What's interesting to me is that it only seems to fail for Python 3.8.5; this is true in your fix https://github.com/BrickSchema/Brick/pull/200 as well as the [actual build logs](https://github.com/BrickSchema/Brick/runs/1534730885?check_suite_focus=true). It looks to be something related to Pip at first glance, but definitely worth looking into

[2020-12-11 17:06] gtfierro commented on #201
One thought -- the versions of dependencies in our `requirements.txt` might have trouble resolving (looks to be a similar issue [here](https://github.com/pantsbuild/pants/issues/10885))

[2020-12-11 20:14] epaulson commented on #201
I can reproduce it on my 18.04 VM with Python 3.8.6 installed from apt
(using this https://askubuntu.com/questions/1197683/how-do-i-install-python-3-8-in-lubuntu-18-04 to get a working venv)

The github setup-python action does as a last step in its installer script:
[code]

[2020-12-11 20:23] epaulson commented on #201
I can reproduce it on my 18.04 VM with Python 3.8.6 installed from apt
(using this https://askubuntu.com/questions/1197683/how-do-i-install-python-3-8-in-lubuntu-18-04 to get a working venv)

The github setup-python action does as a last step in its installer script:
[code]
so each build always picks up the latest and greatest pip (so much for reproducible build environments)

The new pip doesn't

[2020-12-11 20:29] gtfierro commented on #201
Good find! I think that's likely the issue. I'm seeing the following in the logs

[code]
and

[code]

Stricter/frozen requirements are likely the fix. I can try to take some time this afternoon to figure out some frozen versions that fix this, but let me know if you get to it first

[2020-12-11 20:50] gtfierro commented on #189
I agree that we should probably choose a design that simplifies the queries at the expense of model complexity.

Related to this, I've been thinking that we might want to push the semantics into the relationship rather than into the property type.

[code]

and then queries can look like

[code]
So the class hierarchy of property types in my prototype would turn into a hierarchy of *relationships*.

[2020-12-11 21:31] epaulson commented on #201
There's a large thread in pip re: this
https://github.com/pypa/pip/issues/9187

( 9215 similar )

The documentation to read is here:
https://pip.pypa.io/en/latest/user_guide/#dependency-resolution-backtracking

[2020-12-15 20:27] epaulson commented on #201
tl;dr: we're explicitly asking a git checkout that gives us OWL-RL 5.2.0 but pyshacl wants OWL-RL 5.2.1
[code]

I just hardcoded a couple of versions so pip would stop backtracking so we could get a better error message. This is what pip says with my first try:

[code]

This is the requirements.txt I'm using, I don't think any of which matter for the conflicts we're hitting:
[code]
(I fixed versio

[2020-12-15 20:32] gtfierro commented on #201
I think there was a bug or performance regression in that version? Or it might have been a holdover from some development --- in any case, we should definitely remove that restriction and accept `owlrl 6.0.0` at least

Nice work, and thanks for digging into this!

[2020-12-15 20:32] epaulson commented on #201
In fact, pip has been warning us about this for a while - in nighty build #101 on November 29th

[code]

[2020-12-15 23:33] #201 closed

[2020-12-17 04:13] gtfierro commented on #188
Got a new version of the prototype, which is available at https://github.com/BrickSchema/Brick/pull/203 . If anyone has time to check it out and give it a try with some of your points, any feedback you have would be very valuable. All comments welcome!

Here are some examples under this proposal:

[code]

[2020-12-21 21:09] epaulson commented on #197
This is a little bit of an aside, but Wikidata has a nice property/relationship that could be useful here - "has parts of the class":
https://www.wikidata.org/wiki/Help:Basic_membership_properties and https://www.wikidata.org/wiki/Property:P2670

It's for connecting instances to classes, where hasPart isn't quite right - as an example, "our_solar_system has_parts_of_the_class rocky_inner_planets"

[2021-01-05 22:21] gtfierro opened #204 "Weather Modeling"
While Brick has a `Weather Station` concept, and a few outside air temperature sensor variants, there is a need to incorporate more weather forecast/measurement metadata concepts. There has been some [initial discussion](https://groups.google.com/g/brickschema/c/QOT1iLXHEiM/m/lJeX1OS3AgAJ) on the Brick mailing list on this topic, and I am using this issue to track progress on the modeling effort.

[2021-01-09 14:22] kkellyqq opened #205 "Point Request(s)"
Could we add:

- `Mixed Air Damper` with `Damper` as parent equipment Class. Definition would be: A damper that modulates the flow of the mixed outside and return air streams. _This is a standard component in an AHU that is not captured anywhere else in Brick._
- `Condenser Water Valve` with a `Water Valve` as the parent equipment class. Definition would be: A valve that modulates the flow of cond

[2021-01-11 01:39] gtfierro commented on #205
Thanks for the asks! I think these all fit cleanly within the existing structure and I should be able to get to this next week.

[2021-01-13 00:48] corymosiman12 opened #206 "Unable to `make test`"
Following the `CONTRIBUTING` guidelines, getting the following error:

[code]

I've tried removing the container with that image and doing again with the same results.  Am I missing something?

Python 3.7.4

[2021-01-13 15:31] gtfierro commented on #206
Can you show me how you are removing the `allegro` container? When I hit this error, I can usually just re-run the test command and it fixes itself

[2021-01-13 17:20] corymosiman12 commented on #206
I just 'docker container rm <id>'

[2021-01-13 17:22] gtfierro commented on #206
- Do you hit the same error when you re-run `make test`? (Make sure you are only running one of these at a time)
- Can you send me the logs for the `allegro` container? The error seems to be occurring because the container is stopped, but its not clear to me yet why it would stop

[2021-01-13 17:33] corymosiman12 commented on #206
[code]

Lol I'm a dope. I just increased my disk image size so we'll see if this works...

[2021-01-13 17:36] gtfierro commented on #206
No worries! The Allegro-based reasoner should do a better job of relaying the internal error messages.

That non-zero exit code is expected, so your output is in line with a functioning reasoner

[2021-01-14 00:15] JayDub69 commented on #188
@gtfierro - I like this EntityProperties proposal!

Some questions we have are:

1. PowerComplexity (active, reactive, apparent) - Given these are fundamental sensors for both electrical energy and power, are these best represented as Brick classes instead of entity properties e.g.
Active_Energy_Sensor, Reactive_Energy_Sensor, Apparent_Energy_Sensor
Active_Power_Sensor, Reactive_Power_Sensor, Appa

[2021-01-14 19:27] epaulson commented on #190
We put together some possible class extensions for 1.2 that map to the top-level classes of Brick 1.1. It is fairly extensive but only augments what's already there in 1.1. (Well, we think we should bring back 'city' from 1.0.3.)

We can convert this into Python and open a pull request if that would be easier to review, or we can work on this Markdown version and then translate it to Python for an

[2021-01-14 19:32] epaulson commented on #190
We've also collected some of our research here: https://docs.google.com/spreadsheets/d/11_50kLtzwYYX60x074usBqKEc0iPbxQncdfGlViE_bo/edit?usp=sharing

[2021-01-15 15:40] #206 closed

[2021-01-16 19:10] epaulson commented on #190
Some early feedback:
- We need to complete definitions for each class
- Consider adding an intermediate class in room to consolidate some of the media spaces
- Switch_room might be better as 'Network_room' or maybe have subclasses like 'IDF' and 'MDF'
- What's the use case for 'parking_zone'

[2021-01-17 01:01] david-waterworth commented on #190
One thing we often encounter is what we call a "site" often contains multiple plant rooms - each plant room contains chilled water plant which supplies chilled water to a section of the site - so there may be 3 plant rooms each of which supplies ~1/3rd of the AHU's.

A section may be a building, or a wing, or it may be an extension of the existing space.

[2021-01-17 11:24] erikoskarwallin commented on #185
Gabe,
We are about to release 3.3 with Microsoft Azure Digital Twin Description Language - DTDL support. I suggest that we at REC get back and make a first proposal.

[2021-01-17 16:24] gtfierro commented on #37
[v0.3.2 of BOT](https://github.com/w3c-lbd-cg/bot/releases/tag/v0.3.2) has been released -- something to keep an eye on a we move forward. The [Brick-BOT alignment](https://raw.githubusercontent.com/w3c-lbd-cg/bot/master/BRICKAlignment.ttl) is pretty old now (uses v1.0.2), so we should try to update that at a future date.

[2021-01-19 19:00] epaulson opened #209 "pybrickschema 0.2.0 breaking changes"
So, awesome news that 0.2.0 went out!

There's a touch of a wrinkle with generating the brick schema. I tried this as an API fix:

[code]

but unfortunately, I get different results - here's a sample of Brick.ttl - new version on the left, the last good nightly on the right:
[code]
and another:
[code]
(there are others, I can send you the new TTL if you want)

I'm re-running it with profile set to

[2021-01-19 20:04] epaulson commented on #209
Actually, I do think it's using Allegrograph in Docker, it just runs much quicker than I realized.

[2021-01-19 21:11] epaulson commented on #209
Ah, this incantation works:

+g.expand(profile="shacl+tag+owlrl")

[2021-01-19 21:14] epaulson commented on #209
OK - this version works:

+g.expand(profile="shacl+tag+owlrl")

I get the same Brick.ttl as the nightly builds were generating a few days ago. I'll open a PR, but not sure if we actually want a different set, or if you want to change py-brickschema to set a default profile that invokes these three options

[2021-01-20 00:46] gtfierro commented on #209
Thanks for finding the issue and identifying the fix! In the past that `BrickInferenceSession` performed all of those inference items in a consistent order; might not be a bad idea to include a `"brick"` profile that performs the required steps in order.

[2021-01-20 03:35] #209 closed

[2021-01-20 10:45] GeorgFerdinandSchneider commented on #37
@gtfierro  Thanks for pointing this out!

Actually @jbkoh  and me have prepared already an [update](https://github.com/w3c-lbd-cg/bot/tree/patch_issue81_brickalignment
) of the alignment as of the discussion [here](https://github.com/w3c-lbd-cg/bot/issues/81).

Would be very great to put our heads together and release the latest alignment asap. A problem we had at that time is that version IRIs of

[2021-01-20 16:55] gtfierro commented on #37
Awesome to hear! @GeorgFerdinandSchneider I fixed the namespace resolution a couple days ago, so the versioned IRI for Brick should now direct to the Brick.ttl file

Would you be able to submit the BOT-Brick alignment as a PR to this repository? We have an `alignment` directory in the root of the repo

[2021-01-21 16:33] GeorgFerdinandSchneider commented on #37
OK sounds good. Unfortunately we did not succeed with the version IRI resolution - I will keep you updated and create a PR as soon as this is fixed on our end.

[2021-01-26 20:54] corymosiman12 commented on #197
Hey All - so here is my Cooling_Tower diagram (all of the equipment classes 'isPartOf' the Cooling_Tower):
![image](https://user-images.githubusercontent.com/28991233/105898504-85b13780-5fe7-11eb-93d4-0e0b1b7de8d0.png)

and a Condenser_Water_System:
![image](https://user-images.githubusercontent.com/28991233/105902447-a5972a00-5fec-11eb-95c4-ce0af53fffb6.png)

Based on those, I put together the fo

[2021-01-27 02:32] corymosiman12 commented on #188
I was just looking at this thread as I had `Electrical_Energy_Sensor` on my to Add list (here: https://github.com/BrickSchema/Brick/issues/197#issuecomment-767821273).  I noticed in the v1.2 branch there is no subclass of `Energy_Sensor` that is `Electrical_Energy_Sensor`, which would then I believe have `Active_Energy_Sensor` and the others as subclasses https://github.com/BrickSchema/Brick/blob/

[2021-01-27 05:50] gtfierro commented on #197
I'll have time to dig in on Thursday, but so far this looks really really great! I appreciate the effort that has gone into this. I don't see any major issues above. I think what would be left to do is use Entity Properties to capture the source/sink substance metadata as was being discussed above (esp [here](https://github.com/BrickSchema/Brick/issues/197#issuecomment-736658788) and [here](https:

[2021-01-27 06:09] corymosiman12 commented on #197
Tracking: https://github.com/corymosiman12/Brick/tree/add-concepts

[2021-01-28 21:32] GeorgFerdinandSchneider commented on #37
Hi @gtfierro !

I prepared a PR https://github.com/w3c-lbd-cg/bot/pull/104 to finally merge the revised alignment in to bot master branch. As you seem to have some code-based approach for filing alignments I am not sure how you prefer a PR into BRICK. I suggest you implement it using the defined alignments in https://github.com/w3c-lbd-cg/bot/issues/81#issuecomment-636020664

Maybe @jbkoh can have

[2021-01-29 23:26] gtfierro commented on #188
Hey @JayDub69 thanks for looking through the proposal, and sorry for the delay in my reply!

Active_Energy_Sensor, Reactive_Energy_Sensor, Apparent_Energy_Sensor
Active_Power_Sensor, Reactive_Power_Sensor, Apparent_Power_Sensor

I'm torn how to address this, but there are basically two options:
1. eliminate the Brick classes that are replaced by Entity Properties (e.g. remove `Apparent_Energy_Sens

[2021-02-04 10:26] jbulow opened #218 "make test broken"
Following the instructions in CONTRIBUTING ends up with error:

[code]

[2021-02-04 15:14] jbulow commented on #218
Missed the dependency on a working docker service to work with the Brick ontology.

[2021-02-04 15:14] #218 closed

[2021-02-05 05:46] gtfierro commented on #37
Thanks @GeorgFerdinandSchneider! We use code to generate the alignments, but the BOT one looks straightforward enough that we can probably just merge the Turtle in directly.

[2021-02-11 19:24] gtfierro commented on #37
Integrated with Brick in #220

[2021-02-11 19:24] #37 closed

[2021-02-12 08:49] DanieleAntonucci opened #228 "Measurements for air quality analysis"
There are some parameters that we measure to evaluate the air quality.  Some of them have been already implemented few days ago.

**Parameter:                        Unit**
Carbon monoxide :              [ppm]
Formaldehyde :                     [ppm]
VOC or tVOC :                       [ppb] or [ppm] or [ug/m3]
Particulate_matter_1 :          [ug/m3]
Particulate_matter_2.5 :      [ug/m3]
Particula

[2021-02-12 13:45] corymosiman12 commented on #190
Not sure if this is getting into v1.2, but wanted to provide some thoughts.

Regarding more specific types of spaces / facilities:
- ASHRAE 62.1 uses occupancy classifications (categories, space types, w.e.) that are specific to different facility types for calculating ventilation requirements
-  ASHRAE 90.1 uses occupancy classifications, some generic, some specific to facility types, for definin

[2021-02-12 21:16] epaulson commented on #190
We are hoping to get this into 1.2 - we talked about a property based approach back in the fall but had settled on a class hierarchy, but we hadn't really settled on how we were going to expand properties in 1.2 when we had that discussion.

For 1.2 we're still going to go with adding a set of classes for locations, but exploring properties is worth revisiting - we can add some reasoner rules abou

[2021-02-12 21:28] jbkoh commented on #190
@corymosiman12  What's the difference between different space types? Are offices for ventilation different from the ones for lighting?

Besides that, different standards would better be handled by name spaces instead of materializing all the meta-properties like Year and standard name.

[2021-02-15 09:05] jbulow opened #232 "FileNotFoundError: [Errno 2] No such file or directory: 'extensions/brick_extension_shacl_tag_inference.ttl'"
On branch v1.2-release when running `python generate_brick.py`:

[code]

[2021-02-16 16:52] gtfierro commented on #232
I think this occurs when the `extensions/` directory doesn't exist. I believe I added a rule to the Makefile that should ensure that the directory is created if it doesn't exist, so if you run `make`, the build should complete correctly. Can you verify that this addresses the issue?

[2021-02-16 17:09] gtfierro opened #233 "Container Classes for Grouping Entities"
There has been some call from the community to provide classes that define collections of other Brick entities:
- *Location Portfolio* or *Project* for a collection of Sites
- *System* for a group of Equipment + Points assembled for a particular set of use cases
- *Loop* for a discrete group of Equipment + Points through which a substance flows (a Loop may be a part of a System?)

List others! We

[2021-02-16 18:42] jbulow commented on #232
Yes, running make solved the issue.  Thanks!

I was just following the documentation when building the brick ontology from source, so it's just a documentaiton bug.

[2021-02-16 18:47] gtfierro commented on #232
Great! Glad that its working

There's also a `README` in the `extensions/` directory now, so running `generate_brick.py` by itself should now not depend on going through the Makefile. Can you point to which piece of documentation you were following so I can make sure to mention the Makefile?

[2021-02-16 19:59] jbulow commented on #232
It was the end of [CONTRIBUTING.md](https://github.com/BrickSchema/Brick/blob/master/CONTRIBUTING.md
)

[2021-02-18 17:19] gtfierro commented on #232
I added some documentation for this in #214, so hopefully this should be addressed for future developers.

[2021-02-18 17:19] #232 closed

[2021-02-18 17:46] epaulson commented on #233
Just to come back to 'Location Portfolio', Portfolio seems to be the term of the art as one of the top level containers for buildings or site. CRE firms talk about their 'portfolios' of buildings and there's the Energy Star Portfolio Manager which you can "Use [PM] to benchmark the performance of one building or a whole portfolio of buildings, all in a secure online environment."

(Unfortunately,

[2021-02-18 23:14] corymosiman12 commented on #190
The main difference for space types is from a design perspective. ASHRAE 62.1 prescribes certain design requirements for ventilation based on the space type. ASHRAE 90.1 prescribes maximum lighting power densities (W/sf) based on the intended space type. A quick snap shot shows as follows:

ASHRAE 90.1 LPD Examples:
![MicrosoftTeams-image (9)](https://user-images.githubusercontent.com/28991233/108

[2021-02-20 01:34] #205 closed

[2021-02-20 01:35] gtfierro commented on #205
Addressed in v1.2.0 release

[2021-02-20 01:35] gtfierro commented on #199
Addressed in v1.2.0 release

[2021-02-20 01:35] #199 closed

[2021-02-21 07:10] gtfierro opened #236 "Equivalent Representations of Entity Properties + Classes"
Some concepts can be represented both as classes and as a class + entity properties. This is true for several electrical metering points, e.g. `Real_Power_Sensor`.

[code]

I can see two ways of addressing this:
- remove the Brick classes that can be expressed with entity properties (this has already been done for the ill-defined and unused "Hourly Power Sensor" and other classes. See the changelo

[2021-02-21 07:13] gtfierro commented on #188
Closing this issue due to the merge of #214 and the release of v1.2. There are still some outstanding issues with Electrical metering points, and plenty more to model, but I recommend that the conversation be focused in dedicated issues such as #236 that reflect the changes in v1.2. Thanks to everyone who helped inform the entity properties feature! Looking forward to further improving it with gui

[2021-02-21 07:13] #188 closed

[2021-02-25 00:35] jbkoh commented on #190
@corymosiman12 Thanks for the explanation! It sounds like space types drive the requirements for different systems but not the other way around. If the space type is office, HVAC should be configured as X and Lighting should be configured as Y, meaning that space types should be agnostic from such operation standards. Please correct me if I'm not following correctly.

[2021-03-02 20:53] epaulson opened #238 "the nightly build fails, every other day"
These are the best sort of bugs!

The nightly build fails every other day/fails on every even day.

I wonder if it's the plus sign in the Brick+extensions.ttl filename is confusing things, like the plus sign gets escaped wrong in some places, and the step that goes to deletes Brick.ttl gets both Brick.ttl and Brick+extensions.ttl, so on some days the upload succeeds because the old version isn't t

[2021-03-05 19:25] jbkoh commented on #190
Given release v1.2, shall we close this Issue?

[2021-03-05 19:27] #189 closed

[2021-03-12 06:09] #171 closed

[2021-03-12 21:26] corymosiman12 commented on #190
I think that's correct, except the consideration is that the _enumerations for space types_ are different and therefore define different requirement types.

[2021-03-16 22:04] gtfierro commented on #238
Should be fixed in https://github.com/BrickSchema/Brick/pull/241 . Fix was tested on https://github.com/gtfierro/reasonable/releases. I can reopen this issue if we continue to hit problems.

[2021-03-16 22:04] #238 closed

[2021-03-17 09:21] gatemezing opened #242 "Adding more metadata in Brick Ontology"
Hi guys, I just found this awesome ontology. I want to add it into [LOV](https://lov.linkeddata.es/) so that people can easily reuse it in the LOD space. However, I suggest adding more metadata in the ontology, such as the first issued date, modified date each time there is a new release, etc. Something along the following:

 rdfs:label "Brick" ;
	dcterms:description "A uniform metadata schema for

[2021-03-17 09:25] gatemezing opened #243 "No dcterms:version in Dublin Core namespace"
Hello,
Also, I found a small typo? in the ontology file. The property `dcterms:version` seems not present in the Dublin Core namespace.  I suggest the use of `owl:versionInfo` because the range of the`dcterms:hasVersion` seems not suitable as well. HTH.

[2021-03-22 21:52] david-waterworth opened #244 "Description of hasPoint"
The description element of "hasPoint" is a bit misleading ("The subject has a digital/analog input/output point given by the object") since points can be AV/BV's or other. The description from https://docs.brickschema.org/brick/relationships.html seems more appropriate "the subject has a source of telemetry identified by object".

[2021-03-23 16:49] gtfierro commented on #243
Thanks for catching that! Don't know how we ended up with something that doesn't even exist in the ontology. #245 should address these issues

[2021-03-23 16:53] gtfierro commented on #242
Hello @gatemezing! Thanks for the suggestion to add more metadata to Brick . I've just filed #245 which adds the items that you mentioned. The PR will amend the ontology definition to the following:

[code]

Can you verify that this matches what you would expect? Thanks!

[2021-03-23 22:48] epaulson commented on #228
We might want to add radon and methane?

Also the ASHRAE COVID air quality resources might be good to take a look over but that might be better in a separate issue
https://www.ashrae.org/file%20library/technical%20resources/covid-19/ashrae-building-readiness.pdf

[2021-03-24 21:33] #242 closed

[2021-03-24 21:33] #243 closed

[2021-03-25 01:46] gtfierro commented on #244
Thanks for the feedback! I agree that the other definition is a bit more clear, but it is still made in the context of the full document. I'll make a note to revisit the description of that relationship soon

[2021-03-29 12:12] iamliamc opened #249 "When using the BRICK RDF namespace ensure existence"
What's the deal here?

Essentially there is no "enforcement" that anything used in the `brick` namespace actually exists in the namespace...?

Am I missing something obvious?
[code]

https://github.com/BrickSchema/Brick/blob/master/examples/example1/generate.py#L92

[2021-03-29 16:38] HervePruvost opened #250 "solar systems, storage systems and heat pumps"
Hi,
taking this recent PR as starting point [(solar panel)](https://github.com/BrickSchema/Brick/pull/248) which conceptualized solar thermal panels or collectors, here are further components I identified as missing while working on some pilot building that includes a solar thermal HVAC system.

Usually the solar collector is connected to a heat storage system like a water tank that accumulates an

[2021-03-29 21:08] gtfierro commented on #249
No, you're not missing anything --- this is just how RDFlib behaves. This was a bit of a head-scratcher when we first started RDFlib, but the intent is to (a) prevent dependency loops (if I can't refer to `BRICK.VAV_BLAH` then how could I ever define it?) and (b) to stay in line with the open-world assumption (essentially, just because `BRICK.VAV_BLAH` doesn't exist in Brick.ttl doesn't mean it do

[2021-03-29 21:18] iamliamc commented on #249
Good deal thanks for taking that question here where... i knew it wasn't well all that related to this repo.

[2021-03-29 21:18] #249 closed

[2021-03-30 18:01] gtfierro commented on #244
@david-waterworth can you take a look at #251 when you get a chance and let me know if the updated definitions work for you?

[2021-03-31 15:56] #244 closed

[2021-04-02 16:26] gtfierro commented on #185
Sounds good @erikoskarwallin! Let me know how we can help with the alignment

[2021-04-02 19:09] #228 closed

[2021-04-06 06:35] wcrd opened #253 "Cannot run 'make test' successfully when setting up Brick development environment"
Following the `CONTRIBUTING.md` guidelines.
Running 'make test' throws `AttributeError: 'OWLRLAllegroInferenceSession' object has no attribute '_client'` error. Full console output is below. I have made a pull request in the BrickSchema/py-brickschema with a change which will fix this (I think). See request BrickSchema/py-brickschema#48.

Thought I would open an issue here too incase anyone else w

[2021-04-12 09:01] jli113 opened #256 "Radiator"
Brick defines radiators as Heat exchangers designed to transfer thermal energy from one medium to another.
But the types here are only Baseboard Radiator, Electric Radiator, Hot Water Radiator, and Steam Radiator.
Radiators can also be used for cooling in many projects with cold water, which can be installed over the floor, or attached to the ceiling. But the subclass only has baseboard radiators.

[2021-04-12 17:49] gtfierro commented on #253
Should be fixed in https://github.com/BrickSchema/py-brickschema/pull/48, available in `brickschema==0.3.2`

[2021-04-12 17:49] #253 closed

[2021-04-13 20:32] gtfierro commented on #197
Hi everyone! I wanted to make sure to direct your attention to https://github.com/BrickSchema/Brick/pull/257 which is capturing the developments being done by the Ontology Working Group on the issue of chiller plant modeling. Please take a look, ask questions, and if you want to get involved please join the Ontology Working Group (meets biweekly: [Google Calendar](https://calendar.google.com/calen

[2021-04-26 17:36] #190 closed

[2021-05-01 00:28] david-waterworth commented on #233
A couple of other collections I've come across recently are AHU's and FCU's. Each floor of a building has a number of AHU's and FCU's, each of which has it's own BACnet controller. There's also a controller responsible for the overall coordination of all the floor AHU's and another for all the FCU's. Each has its own set of points which are shared with the AHU's / FCU's which are being controlled

[2021-05-07 19:12] gtfierro commented on #233
Please see https://github.com/BrickSchema/Brick/pull/269 for the collection types implementation

I think in the future we may explore collections which involve controllers, etc but I would like to postpone that until we have a better treatment of BMS concepts

[2021-05-07 20:51] gtfierro commented on #256
Thanks for identifying this issue! What would you recommend as the best fix going forward? What kinds of radiators would be used for cooling? Is there a generic term for electric radiators that are portable and used for other kinds of furniture?

[2021-05-07 20:54] gtfierro opened #272 "Additional Fans and Fan-Related Equipment"
As identified by @david-waterworth

- FVAV (fan-assisted VAV): essentially any VAV with a fan in it. Maybe a SHACL shape can infer FVAV for VAVs that hasPart Fan
- Extractor Fans: multiple types
  - Smoke Extractor Fan
  - Garbage Exhaust Fan
  - Kitchen Exhaust Fans
  - Carpark Exhaust Fans

Issues:
- Does Brick just need one kind of Extractor Fan, which is then "fedBy" the different kinds of roo

[2021-05-09 09:29] jli113 commented on #256
Thanks.

1. Adding radiative heat transfer equipment is an option.
2. Ceiling Radiative Pannels for cooling is very common.
3. It is hard to define a universal term for these devices, calling them "(wearable) electrical thermal radiator" seems to be enough by now.

[2021-05-12 06:44] david-waterworth commented on #233
That makes sense. BTW here are some examples:

Some of these make sense as sensor points in Zone3 of Level07 (i.e. maybe AvgRmTemp). But it seems odd to have a Run Enable Command as a Zone point so this is where some sort of Zone Controller concept may be required at some stage (there's a series of these points, L07_AHU_* and Lo7_VAV_* etc.)

[2021-05-20 02:55] gtfierro opened #284 "Support Differential Quantities"
Need to support concepts like Differential Pressure. These will be under a `Differential Quantity` class, underneath `Quantity`: Differential Pressure is not a kind of Pressure!

The implementation will need to use the `isDeltaQuantity` properties from QUDT in the definition (see [docs here](https://github.com/qudt/qudt-public-repo/wiki/Support-for-measures-of-absolute-values-and-for-intervals-(di

[2021-06-15 16:31] JoelBender opened #287 "Reference to Brick from LBD"
Please submit a pull request for the W3c Linked Building Data [Ontologies](https://github.com/w3c-lbd-cg/ontologies) page to reference Brick.

[2021-06-15 19:49] gtfierro commented on #287
Thanks for the pointer! I submitted https://github.com/w3c-lbd-cg/ontologies/pull/2 this afternoon

[2021-06-18 16:37] gtfierro commented on #287
The PR was merged

[2021-06-18 16:37] #287 closed

[2021-06-29 11:19] jbulow opened #290 "brick:PV_Generation_System missing in ontology"
`brick:PV_Generation_System` is referenced in the `solar_array.ttl` example. It is not found in the current head-of-tree built ontology.

https://github.com/BrickSchema/Brick/blob/9f6727019a64dfd0e0c407ef517a7ca69ab9fb00/examples/solar_array/solar_array.ttl#L114

[2021-07-06 03:24] gtfierro opened #292 "Add Voltage/Current Imbalance sensors"
Be sure to relate these to the quantities defined in Brick already

[2021-07-06 15:09] gtfierro commented on #290
You are absolutely right! It is currently defined in PR https://github.com/BrickSchema/Brick/pull/269, which hasn't been merged yet. I'll try to fix that up today

[2021-07-06 15:45] gtfierro commented on #272
@david-waterworth is Exhaust Fan sufficient to capture the idea of Extractor Fans? Or are they distinct concepts? Maybe Extractor Fan is a subclass of Exhaust Fan?

Additionally, how do you feel about having just the one kind of Exhaust/Extractor Fan that is "fedBy" the different kinds of spaces?

[2021-07-06 22:22] david-waterworth commented on #272
Hi @gtfierro

As far as I can see exhaust and extractor are used interchangeably to represent something that removes pollutants and contaminants from inside to outside. I think you could model them all as subclasses of Exhaust Fan (i.e. don't mention Extractor at all) as that seems more common.

https://ncc.abcb.gov.au/ncc-online/NCC/2016-A1/NCC-2016-Volume-One/Section-E-Services-And-Equipment/Spe

[2021-07-11 00:26] #292 closed

[2021-07-21 19:46] epaulson commented on #109
Note that 205 is out for public review: https://www.ibpsa.us/news/ashrae-standard-205p-public-review-open

[2021-07-23 15:00] gtfierro commented on #272
We can address an entity property for "contaminant" possibly at a later date. The design decision to include the entity with which a point or equip is associated (e.g. modeling the Kitchen for a Kitchen exhaust fan) is not going to be resolved here --- this is part of a larger discussion. Closing this issue for now. Thanks @david-waterworth for your feedback!

[2021-07-23 15:00] #272 closed

[2021-07-28 17:37] #233 closed

[2021-07-28 17:37] #290 closed

[2021-07-29 20:50] #284 closed

[2021-08-02 06:32] david-waterworth opened #304 "Add rdfs:label's to all entities"
A number of schema entities don't have labels, in particular, most of the relationships (`hasPoint`, `hasPart` etc) along with a number of others. Some tools (INCEpTION) only import classes/instances which have an `rdfs:label`. Ideally every concept would have a label. Also the `skos:definition`'s have `@en` suffix but the `rdfs:label`'s don't - perhaps they should?

Some also have duplicates, i.e

[2021-08-02 06:45] david-waterworth commented on #304
I think the duplicate labels are caused by the generator automatically creating labels from the IRI

https://github.com/BrickSchema/Brick/blob/cfdded830417160e9c9d7d577357e787f4f3727b/generate_brick.py#L232

But some of the source files explicitly adding one, i.e.

https://github.com/BrickSchema/Brick/blob/cfdded830417160e9c9d7d577357e787f4f3727b/bricksrc/quantities.py#L425

[2021-08-05 07:52] shreyasnagare opened #305 "Some applicable units seem to be missing?"
I'm not sure if this was intentional but there are a few applicableUnits missing for some quantities.

Examples from Brick v1.2.0:
- `brick:Temperature qudt:applicableUnit unit:DEG_F .`  (this one's fixed now)
- `brick:Temperature qudt:applicableUnit unit:DEG_C .`  (missing?)

Question: Shouldn't units applicable to narrow concepts (say brick:Dry_Bulb_Temperature) be applicable to a broader concep

[2021-08-05 16:01] gtfierro commented on #305
There's a few issues wrapped up in here so I will try to separate them.

The applicableUnit structure in Brick is based on QUDT and the equivalencies between Brick Quantities and QUDT QuantityKinds. In QUDT, CelsiusTemperature is _narrower_ than ThermodynamicTemperature, but Brick Temperature is only connected to ThermodynamicTemperature, hence we don't pick up the Celsius units. I'm not going to

[2021-08-05 18:10] majidaldo opened #308 "redeclaration warning in protege"
Loading the latest Brick (1.2) in Protege 5.5, I see this warning in the log
[code]

mailing list [ref](https://groups.google.com/g/brickschema/c/vNLjax1ZwFc/m/FfQ_8ka1AwAJ).

[2021-08-05 20:04] gtfierro commented on #304
@david-waterworth can you take a look at https://gist.github.com/gtfierro/253796937c34e8666f45e2905e46e91a and let me know if that version of Brick works for you? I've generated this from the #307 PR

[2021-08-09 04:12] david-waterworth commented on #304
@gtfierro yes that works well in INCEpTION thanks!

[2021-08-09 04:13] gtfierro commented on #304
Thanks for confirming, and for your detailed bug report! Closing for now

[2021-08-09 04:13] #304 closed

[2021-08-12 15:41] gtfierro commented on #308
As noted by @JoelBender , this is due to `brick:value` being used both as a DatatypeProperty and as an ObjectProperty. There are a few fixes we could apply:

1. make `brick:value` an `rdf:Property`. This is backwards compatible, but is less specific about what a "value" is.
2. use two different properties: `brick:value` for datatype and something else (maybe `brick:entityValue`?) for object-valued

[2021-08-13 17:42] #305 closed

[2021-08-26 10:33] jbulow opened #314 "Running tests are really slow (and slightly broken)"
Running `make test` on `master` branch as of 2021-08-26 taks approx. 2 hours to complete and two tests fails:

[code]

[2021-08-31 18:13] michaelpoplawskipnnl opened #315 "New load/end-use-device EntityProperties requests"
Current EntityProperties contains ratedPowerOutput and measuredPowerOutput for devices.
While these are useful and appropriate properties for power supplies/converters, they are not useful or appropriate for loads.
Loads are typically characterized by their input properties.

Examples:
Rated (nominal) Input Power, important for supply, wire, switching infrastructure sizing
Rated Input Voltage(s) e

[2021-09-01 15:18] gtfierro commented on #314
Yes! I'm aware of the slow tests --- I'm working on a fix, but it too is slow going. I hope to have an update soon. Sorry about the inconvenience in the meantime

[2021-09-09 23:50] #314 closed

[2021-09-10 00:18] gtfierro commented on #315
@michaelpoplawskipnnl take a look at these and let me know what you think of the definitions: https://github.com/BrickSchema/Brick/pull/319

[2021-09-16 17:18] HervePruvost commented on #250
new heat pump example:

@prefix : <urn:heat_pump_impl#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix brick: <https://brickschema.org/schema/Brick#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .

# TODO:
# - use at BIND in the SPARQL queries to figure out what state you

[2021-09-20 06:48] jbulow opened #324 "Generation of ontology is not 100% deterministic"
The same brick source generate slightly different `Brick.ttl` files on each run. The order of shape constraints are randomized. This is a minor problem but causes some confusion when inspecting the diff on that has been updated between revisions.

[2021-09-21 11:36] HervePruvost commented on #250
@gtfierro maybe let's start a branch resp. PR to integrate the new concepts into the ontology schema. What do you think? It may be easier to collaborate on.

[2021-09-26 07:04] jbkoh opened #330 "Clear distinction of delta from their related classes"
In the current design, delta concepts are subsumed by its related classes. E.g., `Water_Differential_Temperature_Sensor` is a subclass of `Water_Temperature_Sensor`. However, even though they are related, they are different. E.g., if a user queries, I would like to know the temperature of water, the query will be asking for getting `Water_Temperature_Sensor`, which incorrectly includes `Water_Diff

[2021-09-26 07:18] jbkoh opened #332 "Status vs Sensor for Position/Frequency"
We are currently adopting `Sensor` for positions and frequencies such as `Damper Position Sensor`. We had a brief discussion (and I believe it was discussed in 223P a while ago too) whether they should be `Sensors` or `Statuses` because they are not actually measuring things such properties but instead controller-set variables. I feel we should change them `Status` before too late. Any thoughts? I

[2021-09-26 08:49] jbkoh opened #334 "Need Room Air Temperature & Zone Air Temperature Sensors?"
Zone Temperature Sensor is a commonly used term in HVAC systems. However, its definition is defined by its association with a certain Zone. So it's context is defined by the Zone while the tag in the class barely do anything other than increasing incompatibility across different uses. A representative example is a Room Temperature Sensor.
- If there is an ambient temperature sensor in a room that

[2021-09-27 16:37] gtfierro commented on #330
Definitely agree; I like the idea of putting Differential sensors under their own Sensor subtree. We can do the same for putting Deadband setpoints under their own Setpoint subtree.

[2021-09-27 16:39] gtfierro commented on #332
They are two separate concepts. It is true that most damper position points are either Commands or Statuses (for r/w and read-only, respectively) that read from the controller's register. However, there are real damper position *sensors* which actually measure the position of the damper (e.g. [this one](https://www.kele.com/actuators-and-dampers/tt-470-series.aspx)) so I think it is important to k

[2021-09-27 16:45] gtfierro commented on #334
I like the idea of making the definition Zone Air Temp Sensor more specific to indicate that it is representative of the temperature of the zone. This may be a virtual sensor, produced by some statistical combination of Room Air Temp Sensors, or it may be an actual sensor located somewhere in the zone. Whether a given sensor is considered to be representative of the zone is a decision made by the

[2021-09-27 16:54] gtfierro commented on #324
Thanks for bringing this up! My impression is that the ultimate goal is to be able to more effectively compare the differences between revisions; making the ontology serialization deterministic is one way of achieving this, but it is not the only way. While the proposed fix in #325 does work, it is dependent on the order of function calls in `generate_brick.py` and deterministic iteration through

[2021-09-28 05:11] jbkoh commented on #330
ok will work on a PR.

[2021-09-28 05:24] jbkoh commented on #334
I also like the new definition, but it still doesn't solve the problem with its confusion with Room_Air_Temperature_Sensor. If there is a temperature sensor used by a VAV in a room, it is both a Zone_Air_Temperature_Sensor and a Room_Air_Temperature_Sensor. As Brick experts, you and I know an entity can be an instance of multiple classes, but it's a long way to explain properly to all the users, a

[2021-09-28 19:41] s0301132 opened #337 "Chilled water supply temperature sensor"
Hi @gtfierro, I check the definition of `Brick:Chilled_Water_Return_Temperature_Sensor` (CHWR) and it said:

 `Measures the temperature of chilled water that is returned to a cooling tower`

However I check some sematic graph of chiller it should be from cooling loads (AHU, VAV etc) not cooling tower.

![image](https://user-images.githubusercontent.com/47412725/135154855-5bbc429d-7f9e-4b24-8b3c-12

[2021-09-30 04:02] jbkoh commented on #334
My apologies, Room Air Temperature Sensor doesn't exist. Updating the definition will be sufficient. I will create a PR for this.

[2021-10-01 18:40] gtfierro commented on #330
Sounds good! Make sure to link the PR to this issue when it is submitted

[2021-10-05 22:33] gtfierro commented on #332
I like this idea. Maybe a term like `brick:seeAlso` or `brick:relevant` rather than "approximate"? I can bring this up at the working group meetings

[2021-10-05 22:59] gtfierro commented on #250
Hi @HervePruvost I've been incorporating our discussions on the branch here: https://github.com/BrickSchema/Brick/pull/257 let me know what you think!

[2021-10-26 02:50] jbkoh opened #345 "IDF is not a type of room but equipment"
There can be an IDF Room but [IDF](https://en.wikipedia.org/wiki/Intermediate_distribution_frame) alone doesn't mean a type of Room. Leaving notes here so that I can pick it up later.